[2019-04-15 17:32] calebreister commented on #1741
Ok, I get it now. This is the part that was confusing me:

[2019-04-15 17:32] #1741 closed

[2019-04-15 21:14] myfreescalewebpage commented on #1724
@poeschlr I share your position and I have already seen you have reverted only a single specific modification. I understand that many pull requests will not be blocked but contributors are still able to fix some KLC issues to enhance the library, so I'm confident we will not be blocked at all.

I also share the position of @antoniovazquezblanco and two years is probably a very long time between tw

[2019-04-15 22:10] poeschlr commented on #1724
We are not the ones that define what the release cylce is. Also after v6 we have much more freedom on the library side as the new file format will give better guarantees for users. (The main reason v6 will again take long is exactly because of the new file format. I doubt such a huge change can be made by volunteers in less than that time. But then again i have not really looked at the sourcecode

[2019-04-15 23:21] pyroesp opened #1753 "DS1267 in Potentiometer_Digital has pin 13 and 12 swapped"
Datasheet:
![datasheet](https://user-images.githubusercontent.com/8619921/56171369-474eb200-5fe5-11e9-960c-64cca568763e.png)
KiCad symbol:
![symbol](https://user-images.githubusercontent.com/8619921/56171370-47e74880-5fe5-11e9-89da-7e212dda5bb1.png)

Unfortunately I just saw that, so my board will have a bodge wire.

[2019-04-15 23:36] antoniovazquezblanco commented on #1724
I know that. I think that we all know that. If it makes sense for us librarians to make use of a breaking release in the not so long future of the 2 years estimate, my proposal would be to talk to the lead developers that define what a release cycle is, in order to find a solution to the standing PRs before that 2 year long wait.

Again, this is just a proposal as a in between solution to break th

[2019-04-16 07:31] E3V3A opened #1754 "Web page or github page lisitng all the symbols?"
It would be useful to have a clear pictorial list of all the different basic symbols.
I.e. a table with the symbol name and schematic symbol.

It would help saving some time having to look for alternative symbols with obscure names.

[2019-04-16 17:11] aewallin commented on #1754
are there python scripts that can read and render (PNG?) symbols and footprints?

[2019-04-16 20:52] poeschlr commented on #1724
To be honest keeping pull requests open for too long is just not an option. As stated above we might need to be more agressive here and request reverting breaking changes if something else can make it in or if there is nothing left then close the pull request tell the user we are truly sorry and document the changes including the pull request number in an issue. (The pull request would only be ref

[2019-04-16 21:02] poeschlr opened #1757 "BPW21 symbol connected to wrong pins of the package"
originally reported in: https://github.com/KiCad/kicad-website/issues/402

datasheet: http://techwww.in.tu-clausthal.de/site/Dokumentation/Dioden/Fotodioden/BPW21-Fotodiode.pdf

[2019-04-16 21:19] poeschlr commented on #1754
I seem to remember there was a post on the forum where somebody made a website that could show kicad library assets.
I also seem to remember there was a post about a tool that could export a list of library assets with pictures to a pdf.

I can not find either of them right now. But you could make a post on the forum and ask if somebody has such thing lying around. (I think such a question is gene

[2019-04-16 21:19] #1754 closed

[2019-04-17 07:43] #1724 closed

[2019-04-17 18:13] myfreescalewebpage commented on #1724
Thanks @poeschlr agree with you, probably it's the best option we have. Agree also that most contribution are additions :)

[2019-04-17 18:18] myfreescalewebpage commented on #1753
@pyroesp thanks for this report and sorry for this bad news :( Are you able to make a pull request to fix it ? Else I can do it myself, for future users. Let me known.
Thanks,
Joel

[2019-04-17 21:28] pyroesp commented on #1753
Hey Joel,
I didn't have time until today to make the pull request.
Hopefully I've done it right.

This is an old digital pot I needed to use in an old project.
I'll be able to add a wire to the board to fix it, but yeah, I don't think anyone is ever going to use that part nowadays (except me).

Anyways, please check out pull request #1759 .

[2019-04-18 17:44] myfreescalewebpage commented on #1753
Pull request has been merged.

[2019-04-18 17:44] #1753 closed

[2019-04-18 20:23] myfreescalewebpage commented on #1720
Original report fixed, closing.

[2019-04-18 20:23] #1720 closed

[2019-04-19 11:56] andreili opened #1764 "Invalid pinout for TXB0108DQSR"
A-port - it's OK, and B-port - from another package!
![image](https://user-images.githubusercontent.com/1331777/56423095-30dd7a80-62b3-11e9-8a2e-d26f351e85f5.png) ![image](https://user-images.githubusercontent.com/1331777/56423107-3c30a600-62b3-11e9-974d-ff51fcd508b3.png)

[2019-04-19 17:48] myfreescalewebpage commented on #1764
Closing following merge of attached PR.

[2019-04-19 19:34] andreili commented on #1764
Merged to master.

[2019-04-19 19:34] #1764 closed

[2019-04-21 16:35] myfreescalewebpage opened #1772 "Raspberry Pi board"
A work a currently in progress to include symbol/footprints for Raspberry Pi board. A list with proposed naming is given below. Checked will be added when new symbols are defined.

- 26 GPIO
  - Raspberry Pi 1 A => `RaspberryPi-1A`
  - Raspberry Pi 1 B => `RaspberryPi-1B`
- 26 GPIO with `RUN, GND`
  - Raspberry Pi 1 A => `RaspberryPi-1A_Run`
  - Raspberry Pi 1 B => `RaspberryPi-1B_Run`
- 40 GPIO

[2019-04-21 16:42] myfreescalewebpage commented on #1772
Proposition of design:

![grafik](https://user-images.githubusercontent.com/12716613/56472766-003c4300-6463-11e9-8089-dcffa1825e2c.png)

Format of DCM file:

[code]

Format of LIB file:

[code]

[2019-04-21 16:51] jstjst commented on #1772
Design Changes:
- 416b6512b1d05d6c780e4af21a1384562cbc461a
- 763f27b643251de57b959f505b83c6b27cfc291c

![grafik](https://user-images.githubusercontent.com/12716613/56473015-05e75800-6466-11e9-9feb-1605dfe2b23c.png)

[2019-04-21 18:09] jstjst commented on #1772
I also added a field for the RPi model into the Footprint filter, since every model will need a separate footprint (especially when it comes to 3d models): 049bdc611ba57acd515b12e7b421782f1914343d
@myfreescalewebpage I think the template is now ready to create the symbols

[2019-04-22 07:12] myfreescalewebpage commented on #1772
@jstjst this looks great if you want to submit the first symbols :)

[2019-04-22 17:42] poeschlr opened #1777 "KiCad 5.1.1 had a serious bug. Will never be officially released. Replaced by 5.1.2"
See: https://lists.launchpad.net/kicad-developers/msg40218.html

And especially: https://lists.launchpad.net/kicad-developers/msg40227.html

I will therefore tag the same commit with 5.1.2 that was originally 5.1.1

[2019-04-24 00:11] evanshultz commented on #1757
Confirmed. Fix submitted at https://github.com/KiCad/kicad-symbols/pull/1783.

[2019-04-24 17:04] #1757 closed

[2019-04-30 18:21] JonathSpirit opened #1802 "Small question, why git/kicad modify thing that i don't want to"
I just modified only one thing (the position offset on the 74LS374), and kicad change the position in the file of the 74HC14 (same data in a different place) that i never touch :/
so what do i do ? I commit the change as well ?

![chiant1](https://user-images.githubusercontent.com/48102745/56984012-4f7e2400-6b85-11e9-8b66-91aa1da87c36.PNG)
![chiant2](https://user-images.githubusercontent.com/48102

[2019-04-30 18:28] evanshultz commented on #1802
Yes, just commit it.

The devs have a bad habit (IMO) of changing the line ordering during save between various builds of KiCad. This is a common problem that we just deal with because we've seen it so many times.

[2019-04-30 18:32] JonathSpirit commented on #1802
ok thanks !

[2019-04-30 20:32] jstjst commented on #1772
Design Changes:
- 22a638c5ce50e710865779165099fd7bd1522a81
- e8cc88255ee267d3317683d6e74c85dd2e09fae2
![grafik](https://user-images.githubusercontent.com/12716613/56991386-cae8d100-6b97-11e9-8afc-783419ff29a4.png)

[2019-04-30 20:35] jstjst commented on #1772
- [ ] RaspberryPi-1A
  - [ ] RaspberryPi-1B
- [ ] RaspberryPi-1A_Run
  - [ ] RaspberryPi-1B_Run
- [ ] RaspberryPi-1A+
  - [ ] RaspberryPi-1B+
  - [ ] RaspberryPi-2B
  - [ ] RaspberryPi-3B
  - [ ] RaspberryPi-3A+
  - [ ] RaspberryPi-3B+
  - [ ] RaspberryPi-Zero
  - [ ] RaspberryPi-ZeroW
- [ ] RaspberryPi-1A+_Run
  - [ ] RaspberryPi-1B+_Run
  - [ ] RaspberryPi-2B_Run
  - [ ] RaspberryPi-3B_Run
  - [

[2019-04-30 21:07] jstjst commented on #1772
@myfreescalewebpage  I'm running in some trouble right now, because I want to create some symbols as an alias. But they need a different footprint and footprint filter, since there are different RPi models. But that is not possible. If possible, I want to be able to use aliases.
Any ideas?

[2019-05-01 21:26] myfreescalewebpage commented on #1772
If the footprint is not the same, then they can't be alias. You can make the first one. Copy/paste. then change footprint of the copy.
Joel

[2019-05-02 07:56] poeschlr commented on #1802
The best option would be to open the lib, save it without changing it (use the move command on a pin but place it at the same place to enable saving) check with git status if something changed. If it did make a separate commit with "saved with current stable" and then make your changes on a later commit. Makes it much easier for us maintainers to see what goes on. (We can then squash merge at the

[2019-05-02 09:01] #1802 closed

[2019-05-02 09:54] karlp opened #1808 "Isolator: ADuM54xx don't follow conventions and are bad examples"
The ADuM54xx isolators don't follow current conventions, leading to contributors wasting time following existing style.  They should be updated to follow current conventions.

Originall noted as a comment on https://github.com/KiCad/kicad-symbols/pull/1791#issuecomment-488564270

[2019-05-02 11:38] Salamandar opened #1809 "Transformer left unconnected in schematics"
I'm trying to use transformers, but the schematics looks completely lost.
You can see on the screenshot that all components that **should** be connected to the transformer have an error "unconnected pin".
Obviously, the pins are still unconnected on the PCB.
I tried with different transformer symbols, same issue. That's the first time i get this kind of problem.

![Capture d’écran du 2019-05-02 13

[2019-05-02 15:05] evanshultz commented on #1809
@Salamandar
What symbol are you using? The official library doesn't have a symbol named `Transformer_1P_1S`.

If this a symbol you made yourself, you really aren't in the right place to ask about this. This repo is regarding the official KiCad library. I would suggest https://forum.kicad.info/ for "using KiCad" questions and issues.

But anyway, my first thought is to check that the pins are on a

[2019-05-02 17:12] Salamandar commented on #1809
I'm using the Device:Transformer_1P_1S, in the official libraries.w
Found it here in the repo : https://github.com/KiCad/kicad-symbols/blob/844bc98d2a6f57f80e920b28181ab4bf68b5b39f/Device.lib#L11376

But, actually, I found that the bug is not in the libraries but in Kicad itself. When updating (sch -> PCB), the new components are not connected to the already-existing on the pcb.
I'll report it to

[2019-05-05 13:06] jstjst commented on #1772
@myfreescalewebpage I created the first set of symbols: #1820

[2019-05-10 18:48] evanshultz opened #1840 "Move MCP7940N from Timer to Timer_RTC"

[2019-05-13 21:07] evanshultz commented on #1777
5.1.2 is out so closing this.

[2019-05-13 21:07] #1777 closed

[2019-05-13 21:49] jstjst commented on #1772
40 GPIO symbols:
#1852
    Raspberry Pi 1 A+ => RaspberryPi-1A+
    Raspberry Pi 1 B+ => RaspberryPi-1B+
    Raspberry Pi 2 B => RaspberryPi-2B
    Raspberry Pi 3 B => RaspberryPi-3B
    Raspberry Pi Zero => RaspberryPi-Zero
    Raspberry Pi Zero W => RaspberryPi-ZeroW
#1851
    Raspberry Pi 3 A+ => RaspberryPi-3A+
    Raspberry Pi 3 B+ => RaspberryPi-3B+

[2019-05-14 19:16] diegoherranz commented on #580
Regarding `[poles]P[throws]T`, I've seen that we use either 1P1T or SPST in the repo currently (see https://github.com/KiCad/kicad-footprints/tree/master/Button_Switch_SMD.pretty).

What would you guys think about enforcing S for single, D for Dual and using numbers for anything above 2? In my opinion, that's what seems to be the "norm" mostly everywhere.

It makes easier to search for footprints

[2019-05-14 19:35] evanshultz commented on #580
I agree that words should not be used "above" dual. It gets too messy and looks ugly. My gut likes all numbers because then searches are a bit easier to me (thinking like a regular expression).

However, DigiKey (https://www.digikey.com/products/en/switches/toggle-switches/201), Mouser (https://www.mouser.com/Electromechanical/Switches/_/N-5g2h/), and Farnell (https://www.newark.com/c/switches-rel

[2019-05-16 08:13] antoniovazquezblanco commented on #580
I personally prefer to use `1P1T` instead of `SPST` but I agree that many users would prefer to look for the more traditional `SPST` term. That could be used as a keyword in order to allow users to use whatever term they prefer while keeping a cleaner naming using numbers?

[2019-05-18 11:23] diegoherranz commented on #580
I think that may be a good compromise.
Numbers on the names which allows cleaner naming and nicer ordering, but mandating to include the traditional single/dual acronyms as keywords so that you can find them using both terms.

I will use this approach on related open pull requests unless someone disagrees. Please let me know.

Thanks!

[2019-05-22 21:27] Deadeye5589 opened #1875 "NXP Lin Transceiver TJA1021 RX/TX swapped"
The pin numbers and naming of the NXP Lin Transceivers TJA1021 from the Interface_CAN_LIN library do not match the datasheet. Rx and Tx are swapped in comparison to the datasheet.
This might be related to the fact the the NXP chipsets are not following to the regular convention of Rx<>Tx. For the NXP Lin and Can chipsets the UART connection must be Rx<>Rx and Tx<>Tx. This is clearly stated in the

[2019-05-23 15:21] evanshultz commented on #1875
Thanks for noticing this and taking the time to write it up.

Datasheet: https://www.nxp.com/docs/en/data-sheet/TJA1021.pdf?

Current symbol:
![image](https://user-images.githubusercontent.com/1936989/58264353-900b3080-7d32-11e9-8657-056af8744918.png)

One explanatory section of the datasheet is here:
![image](https://user-images.githubusercontent.com/1936989/58264917-8df5a180-7d33-11e9-8632-c3bd4

[2019-05-23 20:00] Deadeye5589 commented on #1875
Yes swap pin 1 and 4 would definetly fix this issue for this component. But I checked some of the other NXP transeivers as well and they have the same problem. Therefore I would suggest, that I check also the remaining NXP components and start a PR for the whole bib.

[2019-05-24 11:16] Deadeye5589 commented on #1875
Fix commited and ready for review

[2019-05-24 18:22] diegoherranz commented on #580
After approximately a week, I'll assume that there is no disagreement so I'll start using this approach.
I propose the following wording to complete the convention by @poeschlr at https://github.com/KiCad/kicad-symbols/issues/580#issuecomment-450632899 :

------------------------

The number of poles and throws must be specified using a number even for 1 and 2 which are commonly or traditionally s

[2019-05-25 05:35] poeschlr opened #1881 "Seth made a suggestion about a separate atomic mapping file over on the mailing list."
I assume not everyone is following the mailing list as closely. Seth had the idea that the current way (or even the suggested v6 option) of defining atomic (or fully specified) symbols could be improved by adding a third mapping file.

If anyone has feedback then by all means make your voice heard. An archive of the conversation is found here:
- https://lists.launchpad.net/kicad-developers/msg4076

[2019-05-26 16:08] wmzart opened #1882 "Symbol MCP6004 has wrong component name: L2902"
See the following screenshot:

![MCP6004](https://user-images.githubusercontent.com/11244469/58384355-32504000-7fe1-11e9-8b67-37c3c40a37a6.png)

[2019-05-26 18:32] serkanxselcuk commented on #1711
I would find it better, if generally regulators and filters (see Note) have an exception on KLC, so that V_in pins put on top of left side on device and V_out top of right side.

Because:

1. It would be easier to design serial regulators and filters.
2. Even regulators pin type is power input(s), they are convertors and their function is like trafos, which have input(s) at left side and output(s)

[2019-05-27 10:59] antoniovazquezblanco commented on #1882
MCP6004 is an ALIAS of LM2902. This means that all the drawing and pin information is taken from LM2902 while datasheet, description and keywords are overriden by the values of MCP6004.

You can check that information in the library symbol properties dialog in the aliases tab.

I hope it helps!

[2019-05-27 11:00] antoniovazquezblanco commented on #1882
By the way, in this case, there is no issue with the library but if you wish to change the behaviour of KiCad so that it renders the aliases information you should report that at https://bugs.launchpad.net/kicad

Thank you!

[2019-05-27 11:00] #1882 closed

[2019-05-27 12:37] poeschlr commented on #1882
My guess is that this would be classified as a new feature and would therefore not happen for v5. It makes little sense to implement anything alias related for v6 as the whole alias stuff will be dropped in favor of the inheritance stuff. (Or possibly also the new atomic stuff as suggested by seth. I am not yet convinced that we should use both the inheritance stuff and the atomic stuff)

[2019-05-27 12:48] wmzart commented on #1882
Thanks for pointing out the alias feature. In that case I will not file a bug report and wait for what is going to be implemented in v6.

[2019-05-28 17:35] evanshultz commented on #1875
https://github.com/KiCad/kicad-symbols/pull/1880#issuecomment-495998821

[2019-06-01 08:01] Deadeye5589 commented on #1875
Bugfix merged.
Topic closed

[2019-06-01 08:01] #1875 closed

[2019-06-01 09:18] poeschlr commented on #580
Sorry for the long silence. I must agree that i prefer numbers at least on the footprint side. This makes writing the rule a lot easier.

The idea is that we then have generic symbols that already have the correct footprint filters such that users do not really need to search for the footprints. (cvpcb should already point to the correct selection.)
I think at least the symbol keywords are also us

[2019-06-02 12:07] ZirconiumX opened #1899 "Add LF442 and LM1458 as aliases of the LM2904"
As far as I can tell, the [LF442](https://www.ti.com/lit/ds/snosd59/snosd59.pdf) and [LM1458/LM1558](https://www.ti.com/lit/ds/symlink/lm1458.pdf) have the same pin out as the [LM2904](https://www.ti.com/lit/ds/symlink/lm2904.pdf). I could file a PR if you want me to, but I don't think it's worth the effort of CLA-signing etc for a one-line change.

[2019-06-02 16:33] diegoherranz commented on #580
No problem. I have just checked and yes, keywords work fine when searching for symbols, so it's probably a matter of simply adding keywords to existing generic symbols as well as footprint filters. I'll try to have a look.

[2019-06-04 23:44] fauxpark commented on #1899
This would not be a one line change as you would also need to add entries in the .dcm file.

[2019-06-09 02:17] wirehead opened #1910 "APA102 Footprint incorrect"
I printed out a PCB that used the APA102 symbol provided in the built-in library and was validating all of the footprints against the printout.

Pictured, a bit hard to see, is an APA102 using the library's footprint. You can see that the spacing on the pads doesn't match.

![image](https://user-images.githubusercontent.com/653135/59154192-c24eaa80-8a21-11e9-9611-83f7a0ead49d.png)

[The SparkFun l

[2019-06-09 06:48] poeschlr commented on #1910
please post a link to the datasheet

[2019-06-09 13:32] wirehead commented on #1910
That's the APA102-2020 you linked to.  This concerns the APA102 which uses the LED_RGB_PLCC-6 footprint.

Here's a datasheet: http://www.led-color.com/upload/201506/APA102%20LED.pdf

[2019-06-10 19:16] poeschlr commented on #1910
Your datasheet does not contain a dimensioned drawing. It is therefore useless to determine which footprint should be used

[2019-06-10 20:22] evanshultz commented on #1910
Perhaps I can add a bit more info to clarify...

The APA102-2020 symbol references an atomic and, I hope, correct footprint:
![image](https://user-images.githubusercontent.com/1936989/59223867-d90c1300-8b81-11e9-934e-929eb17ae2f3.png)

But the APA102 symbol uses a more generic footprint:
![image](https://user-images.githubusercontent.com/1936989/59223909-f214c400-8b81-11e9-8be0-1d41bcbdde67.png)

[2019-06-11 01:04] fauxpark commented on #1910
Per #1501 it seems the footprints for both are correct. The submitter links to an Adafruit datasheet, containing the same drawing, and says it is PLCC-6 (5050) - which is exactly what the part in the OP here is.

I think the main problem is that while the 2020 symbol has the `-2020` suffix, the 5050 symbol has no suffix at all.

[2019-06-11 04:17] wirehead commented on #1910
No, unfortunately, I think you underestimate just how annoying the modern SMT LED industry has become.  Like, sure, fiat lux, but can we fiat lux in a discrete number of packages instead of ten zillion almost-but-not-quite-identical packages, none of them with standardized descriptive names?

So, I found this discussion from the forums: https://forum.kicad.info/t/smd-rgb-led-footprint-5050/653/8 a

[2019-06-11 04:25] fauxpark commented on #1910
Ah, I was under the impression the PLCC-6 footprint was 5050... it is actually 3434.

[2019-06-11 05:53] poeschlr commented on #1910
The APA102-2020 is called that by the manufacturer this is why this name is used. The datasheets linked here call the part APA102C which would be the proper name of it.

[2019-06-11 16:57] evanshultz commented on #1910
@wirehead
If you can submit a PR to change the symbol to use a correct footprint, since things are broken, we will accept that right away.

But I still haven't seen a datasheet that shows dimensions so we can verify that the `LED_RGB_5050-6` footprint is correct. Are you able to find some documentation?

[2019-06-11 21:58] #186 closed

[2019-06-12 17:29] #697 closed

[2019-06-18 02:05] rjj100 opened #1926 "Missing symbol for 74HC165A (serial in parallel out w latch) and associated libraries"
Missing symbol for 74HC165A (serial in parallel out w latch) and associated libraries as of 6 - 17-19

[2019-06-18 06:07] poeschlr commented on #1926
We are sorry but we can not take requests for additions. The library does not claim to have a symbol for every component. The issue tracker is for reporting bugs or discussions about the library convention. (The later mainly such that we maintainers can get input from users.)

In general making a symbol is quite easy and a basic thing you need to learn anyways. Take a look at https://forum.kicad.i

[2019-06-18 06:07] #1926 closed

[2019-06-18 09:19] EeliK opened #1927 "Not all LED RGB combinations which are in use are in Device.lib"
RGB LED_ symbol group in Device.lib is missing some pin configuration combinations.

For example

Dialight 598-8810-307F,
http://www.dialightsignalsandcomponents.com/Assets/Brochures_And_Catalogs/Indication/SMT_selector_guide.pdf
page 12, "1208 Tri-Color (Fig 22)"

is GRBA, like some others in the same pdf document.

I wonder if all theoretically possible combinations should be there.

[2019-06-18 14:31] rjj100 commented on #1926
I understand, thanks. I’ve only found KiCAD 1 day ago and will be awhile before I can contribute.

[2019-06-18 15:01] evanshultz commented on #1927
The library does not claim to have every single symbol or footprint and we are not in a position to take requests. If you would like to contribute the missing symbols that would be nice. :)

I'm closing this issue, not out of spite, but to prevent it from lingering since it's not actionable.

[2019-06-18 15:01] #1927 closed

[2019-06-20 16:18] evanshultz commented on #1910
@wirehead
It seems like the issue is sorted out above. Are you willing to make a PR to fix this? Would be nice to squeeze it into 5.1.3 which is coming soon.

[2019-06-20 22:29] evanshultz commented on #1899
@ZirconiumX
We don't take requests so I'm going to close this. You were given a great response above that explains why it's a bit more involved. If you would like to file a PR to add the parts that would be great.

[2019-06-20 22:29] #1899 closed

[2019-06-27 09:15] antoniovazquezblanco commented on #1253
Given https://github.com/KiCad/kicad-symbols/issues/217 and knowing that https://github.com/KiCad/kicad-symbols/issues/217#issuecomment-473954688 is more recent than the report in this issue I am going to close this as a duplicate of that thread.

Thank you for the report.

[2019-06-27 09:15] #1253 closed

[2019-06-27 09:29] antoniovazquezblanco commented on #1551
Migrated to the correct repo

[2019-06-27 09:29] #1551 closed

[2019-06-27 09:37] antoniovazquezblanco commented on #261
@matyro could you please make a proposal for both fields?

Thank you!

[2019-06-27 09:44] antoniovazquezblanco commented on #723
The mentioned symbol was merged in `Transistor_Array`.

Is the discussion about creating a `Driver.lib` open?

[2019-06-27 15:15] evanshultz commented on #723
I still think a generic `Driver.lib` would be useful.  With a review of existing drivers perhaps there's enough support to populate this new library. Let me take a quick look and see how many might be candidates for a generic driver library...

[2019-07-05 11:55] lorem-ipsum opened #1951 "Symbol design for operational transconductance amplifier (OTA)"
I want to make a symbol for the [OPA861](https://www.ti.com/lit/ds/symlink/opa861.pdf) OTA, but am not sure on what symbol to use. The library has already the `CA3080(A)` and the `LM1360`/`LM1370`. They use the design of a regular op-amp, adding the bias at some location. As these are not regular op-amps I think this should also made clear by the symbol.

The datasheet lists some symbols on page 1

[2019-07-05 14:02] evanshultz commented on #1951
First, a disclaimer: I designed the existing symbols, so I'm probably biased.

Cool part. Thanks for asking about it.

What is unclear about the existing triangular symbols? IMO common OTAs are well-known by those who use them so seeing the part number on the schematic is enough. And the BIAS pin provides uniqueness compared with the normal opamp having only two input pins.

CA3080 is a single sym

[2019-07-05 14:28] lorem-ipsum commented on #1951
You're probably right about the understanding based on the bias pin. I mostly stumbled about the CA3080 which has the bias not between the inputs, but on the side (like a supply).

I also was wondering whether one should include the diodes and circles in the housing, but thats not doable without moving pins around. So I will stick to the simple design of the LM13x00.

[2019-07-08 15:31] evanshultz opened #1956 "Verbose relay symbols"
There are extraneous polylines and possibly other elements which overlap and are ultimately non-visible. I believe some relay symbols weren't drawn as elegantly as possible and then copied which is the root of the problem. While not a big issue, it inflates the size of the file for no benefit.

[2019-07-08 18:23] evanshultz opened #1957 "5.1.3 library release"
Hey all! 5.1.3 is near. See Wayne's message at https://lists.launchpad.net/kicad-developers/msg41442.html.

What in the library needs to be done? For issues/PRs with a 5.1.3 milestone I only find two:
- [x] https://github.com/KiCad/kicad-footprints/issues/1663
- [x] https://github.com/KiCad/kicad-packages3D/pull/565.

Here are issues and PRs with a "bug" label:
- [ ] Symbol issue: https://github.c

[2019-07-09 10:58] antoniovazquezblanco commented on #1957
Went for some easy ones:
https://github.com/KiCad/kicad-packages3D/pull/565
https://github.com/KiCad/kicad-packages3D-source/pull/228
https://github.com/KiCad/kicad-packages3D/pull/284

Added requested changes in https://github.com/KiCad/kicad-footprints/issues/1663 to existing pr https://github.com/KiCad/kicad-footprints/pull/1670 in order to close both if you want to review them @evanshultz

Tha

[2019-07-10 13:39] antoniovazquezblanco commented on #1957
Also have taken on the only bug issue in the 3D repo:
https://github.com/KiCad/kicad-packages3D/issues/546

https://github.com/KiCad/kicad-packages3D/pull/593

[2019-07-11 16:01] evanshultz commented on #1910
I contacted the vendor to request a footprint or an adequately-dimensioned package drawing for APA102.

[2019-07-12 08:25] chschlue opened #1969 "Asymmetric TVS diode array"
I am new to KiCad (coming from Eagle) and would like to contribute some symbols.

I need [this asymmetric TVS array](https://m.littelfuse.com/~/media/electronics/datasheets/tvs_diode_arrays/littelfuse_tvs_diode_array_sm712_datasheet.pdf.pdf) for a design.
Should I create a new symbol for this specific part or just use the generic D_TVS_x2_* symbols?

[2019-07-12 08:31] paulvdhoeven commented on #261
Drain Current and "Vgs" for P-channel mosfets is also inconsistent.
For about half the P-Channel (MOS)Fets these are positive in the descriptions, while for the other half these are negative (which is more common).

For an overview:
Eeschema / 'a' , and type: "p-channel" in the search box.
See also thread and 2nd screenshot at:
https://forum.kicad.info/t/p-channel-mosfet-symbols-and-footprints/180

[2019-07-12 11:19] poeschlr commented on #1969
In this case i would suggest the creation of a fully specified part just because there are no asymmetric symbols in the lib right now. I would advice against adding generic symbols for asymmetric parts as one might want to include the voltage values in the symbol. This is not really possible in a generic way.

---

In general we can not give advice in this question. We do not know your preferences

[2019-07-12 16:12] chschlue commented on #1969
PR #1973

[2019-07-12 16:12] #1969 closed

[2019-07-12 18:11] #951 closed

[2019-07-12 19:39] evanshultz opened #1975 "Transistor symbols vary"
Several points as I went through the library.

- [ ] Some symbols have the up (D, C, etc.) and down (S, E, etc.) pins at 100mil in the X direction:
![image](https://user-images.githubusercontent.com/1936989/61153531-5dfb8c80-a4a0-11e9-8851-5ab97ef80287.png)

Others are right on the origin:
![image](https://user-images.githubusercontent.com/1936989/61153559-6f449900-a4a0-11e9-8fb1-0fbd7ded42f3.png)

[2019-07-12 22:53] evanshultz commented on #1975
https://github.com/KiCad/kicad-symbols/pull/1976 address non-v6 for Transistor_FET.

[2019-07-13 23:43] fenugrec commented on #1493
About the LM4990 MSOP : TI calls this package "DGQ", http://www.ti.com/lit/ml/mpds043e/mpds043e.pdf . Dimensions for the thermal pad are missing from the DS, but can be found in the DS for an unrelated IC with the same package designation (DGQ) : https://www.ti.com/lit/gpn/bq24090 , p. 37

[2019-07-15 22:11] evanshultz commented on #723
- Driver_Display:
-- This is a pretty specific category; a quick check of the symbols shows that this is fine as-is.

- Driver_FET:
-- Seems like these are all valid and the library is substantial and a reasonable subdivision of driver ICs.

- Driver_Haptic:
-- The single symbol here is really a motor driver, but intended for haptic applications. So it's mis-classified and just a single symbol isn

[2019-07-22 21:27] jneiva08 opened #2002 "ATX PSU Symbol"
Have made symbol for ATX12 V1.x (10 pins) and V2.x (24 pins).
I don't know where i shall put it.

The connector is used to connect PSU to motherboard.

[2019-07-22 22:10] evanshultz commented on #2002
I would say `Connector.lib` since it's not generic but it's a connector. Other similar connectors seem to be in that lib. What do you think?

[2019-07-23 08:35] jneiva08 commented on #2002
It makes sense. Have already made [PR 2004](https://github.com/KiCad/kicad-symbols/pull/2004)

[2019-07-23 08:55] antoniovazquezblanco commented on #2002
Issuel solved

[2019-07-23 08:55] #2002 closed

[2019-07-23 15:28] poeschlr commented on #1957
It seems the release is imminent. So i will tag as soon as i tested the symbol lib for incompatibilites.

[2019-07-23 15:56] poeschlr commented on #1957
Wow there has basically been not much done on the symbol side since 5.1.2. (Similar story with footprints)
We might need some more maintainers to be honest.

The only dangerous changes found:
Pins have been moved, renumbered or removed in symbol:
- 'Driver_LED.lib:IS31FL3216'
- 'Logic_LevelTranslator.lib:TXB0108DQSR'
- 'Potentiometer_Digital.lib:DS1267_SOIC'
- 'Sensor_Optical.lib:BPW21'

Normal pi

[2019-07-24 08:49] antoniovazquezblanco commented on #1957
I think we were more cautious I believe. The rules are clearer for me now. That doesn't mean we need more maintainters, I agree.

Thanks for your effort!

[2019-07-24 08:49] #1957 closed

[2019-07-25 15:54] evanshultz commented on #1910
No answer after multiple inquires. I'm giving up.

Is the expectation that changing the footprint for this symbol to `https://github.com/KiCad/kicad-footprints/blob/master/LED_SMD.pretty/LED_RGB_5050-6.kicad_mod` will fix the issue?

[2019-07-26 11:52] StormTrooper opened #2020 "LM311 - open emitter pin 1 ERC fail"
Application: KiCad
Version: 5.1.3-ffb9f22~84~ubuntu18.04.1, release build
Libraries:
    wxWidgets 3.0.4
    libcurl/7.58.0 OpenSSL/1.1.1 zlib/1.2.11 libidn2/2.0.4 libpsl/0.19.1 (+libidn2/2.0.4) nghttp2/1.30.0 librtmp/2.3
Platform: Linux 4.18.0-25-generic x86_64, 64 bit, Little endian, wxGTK
Build Info:
    wxWidgets: 3.0.4 (wchar_t,wx containers,compatible with 2.8) GTK+ 3.22
    Boost: 1.65.1

[2019-07-26 17:55] evanshultz commented on #2020
Yep. I just caught something similar on another part at https://github.com/KiCad/kicad-symbols/pull/1949.

Passive type should be fine for the collector and emitter pins. Would you be up for making a PR to correct this issue?

[2019-07-26 20:04] #2020 closed

[2019-07-28 03:48] wirehead commented on #1910
PR submitted.  Very sorry for going silent on this.

[2019-07-29 16:05] #1910 closed

[2019-07-30 06:22] frantony opened #2041 "Transistor_FET: TP0610L and VP0610L can't be used as aliases for 2N7000"
2N7000 is a **N-channel** MOSFET. *P0610L are **P-channel** MOSFETs.

[2019-07-30 14:08] evanshultz commented on #2041
2N7000 is extremely common so I think that's understood.

The *P0610L datasheet (https://www.vishay.com/docs/70209/70209.pdf) confirms this. Oops.

@frantony
Thanks for catching this and taking the time to report it. I've marked this as a bug.

[2019-07-30 18:57] pgrudzinski opened #2042 "Motor/Fan_ALT looks mangled"
![image](https://user-images.githubusercontent.com/8490243/62157022-7f67cf80-b30c-11e9-8420-c28b2c7e2cfb.png)
I'm not even sure how it was supposed to be looking.

[2019-07-30 19:30] evanshultz commented on #2042
Yikes! Thanks for submitting this issue!

Digging into the history, which required going back to the old repo, it appears the symbol was added at https://github.com/KiCad/kicad-library/pull/717 and an image is there.

But interestingly, the symbol changed even during the revs in the PR. I replicated the symbol from the initial commit of that PR and submitted https://github.com/KiCad/kicad-symbols/

[2019-07-31 19:05] #2042 closed

[2019-08-04 22:01] poeschlr commented on #1957
The 5.1.3 release had a annoying bug so it was decided to go directly to 5.1.4 instead. To speed up the release i tagged the same commit.

[2019-08-07 20:01] daviid5 opened #2062 "LM4810 wrong datasheet"
Symbol of 'LM4810' contains Datasheet link to LM4811 (http://www.ti.com/lit/ds/symlink/lm4811.pdf)

[2019-08-07 20:08] evanshultz commented on #2062
Good catch. Thanks for taking the time to submit this issue.

Confirmed error at https://github.com/KiCad/kicad-symbols/blob/master/Amplifier_Audio.dcm. Datasheet should be http://www.ti.com/lit/ds/symlink/lm4810.pdf.

@daviid5
Would you submit a PR to correct this?

[2019-08-13 16:35] willcarroll7 opened #2072 "Cypress CY7C65215A-32LTXI incorrect pin assocation"
This part in the default library lists pin 20 as a VDDD power supply input, however the datasheet lists pin 20 as a VSSD ground supply.

https://www.cypress.com/file/129956/download

[2019-08-13 17:32] chschlue commented on #2072
Which version?
Git master is fine.
![cy7](https://user-images.githubusercontent.com/40901018/62963240-e30bf580-be00-11e9-918e-f3bef046f972.png)

[2019-08-13 18:06] chschlue commented on #2072
https://github.com/KiCad/kicad-symbols/commit/55bce93f5ca9b73d0017bec7729f4c345e7ed320
https://github.com/KiCad/kicad-symbols/pull/1726
https://github.com/KiCad/kicad-symbols/issues/1717

Can be closed.

[2019-08-13 18:52] cpresser commented on #2072
Thanks for the research @chschlue

[2019-08-13 18:52] #2072 closed

[2019-08-14 18:00] Aliasmk opened #2074 "74LVC1G66 Bilateral Switch Has Missing Datasheet and Unspecified Footprint"
`74xGxx:74LVC1G66` has a 404'd datasheet link.

Additionally, according to [this datasheet](https://assets.nexperia.com/documents/data-sheet/74LVC1G66.pdf) the pinout changes with different package types. I.e. for SOT353-1 and SOT753 packages, `Vcc` is pin 5. For SOT886, SOT891, SOT1115 and SOT1202, `Vcc` is pin 6, and pin 5 is `N/C`.

No indication as to pinout is made in the description of the p

[2019-08-14 18:38] chschlue commented on #2074
https://github.com/KiCad/kicad-symbols/pull/2076

[2019-08-15 06:23] #2062 closed

[2019-08-17 16:51] lorem-ipsum commented on #146
I am currently working on generating symbols for some transformers from Block (footprint PR is already where) and started generating those using the symbol generator. I tried to set it up in a way that it could be used to regenerate the existing symbols and get them to a consistent style. It also handles alias generation where possible. I posted the current status as PR: https://github.com/KiCad/k

[2019-08-21 08:56] elektrouwe opened #2097 "LF398_xxx: 8pin and 14pin pinnings swapped"
14pin version uses 8pin enumeration and 8pin versions use 14pin enumeration

[2019-08-22 17:25] cpresser opened #2098 "MCU_Microchip_PIC18 is inconsistent"
While working on https://github.com/KiCad/kicad-symbols/pull/2013 I tried to find some reference by looking at similar devices.
Most of the devices in the lib have at least one of those issues:
- Name is wrong: PIC18LF45K50_QFP (should be -ML)
- MCLR-Pin position differs (top left, or in line with PortE, bottom left, ...)
- MCLR-Pin names differ
- VUSB not on top for most devices (PIC18F2450-IML)

[2019-08-30 19:11] aewallin commented on #1533
pin length: I suggest S4.1 can be made clearer - if the desire is to stick to 100mil unless really forced to do otherwise (see especially S4.1.2 "number of characters...")

[2019-08-30 19:13] matthijskooijman opened #2115 "Distinguishing open-collector from push-pull for isolators"
I'm working on a symbol for an optocoupler, and I'm a bit in doubt how to proceed wrt distinguishing between open-collector and push-pull images..

I'm working on the Si8735, which is drawn in the datasheet as follows:
![image](https://user-images.githubusercontent.com/194491/64044903-453a5980-cb68-11e9-9b4c-123f4f627637.png)

 It's quite a complex thing, but I've managed to pretty much replicate

[2019-08-30 19:35] evanshultz commented on #1533
https://github.com/KiCad/kicad-website/pull/417 made some updates to this clause. Are you saying it still lacks clarity that 100mil is the desired pin length unless a change in length must be made?

[2019-08-30 19:42] evanshultz commented on #2115
First, where internal wire cross, place a 10mil filled circle to indicate connectivity.

Yes, things get cramped and don't scale well. That's true. I guess I would fall on the side of keeping things small where possible instead of making smaller/simpler symbols bigger than required. That all being said, the logic library (and logic symbols used elsewhere, like in optos), is due for an overhaul. Ho

[2019-08-30 23:06] calebreister commented on #2115
@evanshultz The "⎐" symbol to denote an open-collector output is common in the United States (apparently common enough to have a Unicode code point). According to [Wikipedia](https://en.wikipedia.org/wiki/Open_collector), there are multiple variations to denote different corner cases, though I've only seen "⎐" used in practice.

[2019-08-31 08:46] matthijskooijman commented on #2115
Do you also mean on T-junctions? Since that does not seem to be done in practice. For crossing junctions, that seems like a good idea, but I do not think there are any in my images above?

Ah, nice. If we want to add something, it would be a good to adhere to a standard, so this might be useful. It would be even better if the symbol is also used in practice (so people will recognize it right away)

[2019-08-31 17:33] calebreister commented on #2115
@matthijskooijman I've seen both the 2nd and 3rd options used for open collector pins. However, I am questioning whether it is necessary to indicate an open collector output on the symbol due to the fact that the pin type should already be specified.

Also, I would recommend simplifying the Schmitt trigger symbol by removing the arrows. I haven't seen this used much in practice, and it adds some c

[2019-09-01 13:50] matthijskooijman commented on #2115
The output type is used for DRC, but not normally shown in schematics. The usecase I'm trying to improve here is reading a schematic that uses graphical diagrams. Another approach could be to somehow let KiCad mark the difference between different output types in an automated manner, but that would require changes in KiCad and it might be tricky to find an automatic annotation that looks good in a

[2019-09-06 23:35] evanshultz opened #2132 "Diodes have inconsistent outline line thickness"
Most of our symbols use a 10mil outline thickness per [KLC S3.3](http://kicad-pcb.org/libraries/klc/S3.3/). But many diodes use the default 0mil or 8mil, so their outline is either thin and stands out or is thick (but not quite as thick as KLC requests). At any rate, it's very inconsistent.

Does anyone know a reason for this? If it's just an oversight, I can correct it fairly easy.

[2019-09-07 18:00] poeschlr commented on #2132
Just an oversight as the 10mil rule was only introduced rather recently

[2019-09-07 19:19] chschlue opened #2135 "Switching regulator switch pin type"
Partially related to issue #1711

What's the preferred electrical type for switch pins of switching regulators such as https://www.analog.com/media/en/technical-documentation/data-sheets/ADP1614.pdf?

Existing symbols use nearly everything: power output, output, open collector, passive, I think I've even seen input.
Most of these seem technically correct (especially power output and open collector

[2019-09-07 20:17] evanshultz commented on #2135
I have discussed this in several PRs and also started an issue with these (non-digital) pins at https://github.com/KiCad/kicad-symbols/issues/381.

This isn't part of KLC so I will merge if it makes sense, but usually ask for Passive.

Why? The ERC engine in KiCad is meant to check for 'digital' or 'logic' pins and these don't apply. But this pin isn't connected to the net which actually supplies

[2019-09-07 20:42] evanshultz commented on #2097
It's not entirely clear from about what you mean. There is only one 14-pin LF398 symbol, but there are three 8-pin symbols (though only two have an underscore suffix). Let's dig into it.

Datasheets:
- http://www.ti.com/lit/ds/symlink/lf398-n.pdf (all but SOIC 8)
- https://www.analog.com/media/en/technical-documentation/data-sheets/lt0398s8.pdf (SOIC 8)

We have see that all 8-pin symbols share a

[2019-09-08 05:15] poeschlr commented on #2135
My issue on the website simply never got codified as i had (and still have) other klc pull requests open. I try to avoid working on too many things in parallel.

[2019-09-09 16:33] evanshultz commented on #1975
#1976 has been merged which, I believe, addressed the last two items above.

[2019-09-09 22:17] evanshultz commented on #1975
https://github.com/KiCad/kicad-symbols/pull/2140 address Device.lib.

[2019-09-10 16:38] poeschlr opened #2142 "5.1.5 is planned for sometime mid to end september"
See https://lists.launchpad.net/kicad-developers/msg41959.html
TlDr: first 5.1.5 tag is made end of this week, then a test period of about a week and either a new release candidate is tagged if there have been critical bugs otherwise release a week later.

please add pull requests that you think should go into 5.1.5 such that librarians know what to prioritize.

I personally would like to see http

[2019-09-10 16:44] evanshultz commented on #2142
I didn't see Wayne agree to Seth's proposed schedule, but with those bugs I assume it won't be long.

- I am going to wrap up the footprints in https://github.com/KiCad/kicad-footprints/issues/608.
- The PR you noted above is also something I can help with.
- While I didn't look at Issues and PRs marked as bugs, I know of https://github.com/KiCad/kicad-symbols/pull/2141 and https://github.com/KiCa

[2019-09-10 20:54] evanshultz commented on #2098
Please see https://github.com/KiCad/kicad-symbols/issues/387. I believe a lot of the items are similar. This issue might be able to be swept into that issue, which covers all Microchip MCU libs.

[2019-09-11 09:33] silelis opened #2145 "Commit own symbols / footprint / packages"
Hello,

I am just starting with KiCAD (switching from Eagle2KiCAD) but have some amount of symbols / footprint / packages like Bluetooth, FM, DAB+ breakouts, mp3 chips (like au6850) and other.

My question is how and if I can share it with this git? I don't want to loose theme and can share with community

[2019-09-11 09:45] antoniovazquezblanco commented on #2145
Yes! Your contributions are very welcomed!

You have brief instructions in http://kicad-pcb.org/libraries/contribute/ on how to proceed.

Thank you!

[2019-09-11 17:56] evanshultz commented on #2145
@silelis
Welcome!

Note that there are guidelines for this library at http://kicad-pcb.org/libraries/klc/ which contributions need to adhere to. Your symbols/footprints may need updating before they can be included in the library here.

Since I hope your question is answered please close this issue when you have a chance. Or if not, add another comment.

[2019-09-13 11:52] chschlue commented on #387
I took the liberty and added task 21

We currently have _ATmega, _ATtiny and _AVR which consists of AT90s. All of these are AVRs.

[2019-09-13 15:57] #2135 closed

[2019-09-14 08:45] #2097 closed

[2019-09-14 16:38] dennisjenkins75 opened #2161 "Incorrect electrical type for pins 12,13 on 74LS192/193"
The symbol for the 74LS192, 74LS193 list pins 12 (~CO) and 13 (~BO) as inputs.  These pins should be outputs.  See http://www.ti.com/lit/ds/symlink/sn74ls193.pdf

This is causing ERC to errantly report that the pins are not driven when connected to pins 5 and 4 of the next 74LS193 (when chaining them together).

[2019-09-14 16:39] dennisjenkins75 commented on #2161
Actually, the output pins (2,3,6,7) are also incorrectly marked as input; they should be output.

[2019-09-14 21:06] #2161 closed

[2019-09-14 22:44] gkeeth opened #2163 "PZTA42 has 3 pins in symbol, 4 pins in footprint"
PZTA42 is a SOT-223 NPN BJT ([datasheet](https://www.onsemi.com/pub/Collateral/PZTA42T1-D.PDF))

The pin layout of the physical part is BCEC, i.e. 1-Base, 2,4-Collector, 3-Emitter. See screenshot from datasheet:

![pzta42_pinout](https://user-images.githubusercontent.com/4452267/64914389-51084d00-d71e-11e9-804e-a210842e5edc.png)

The current Kicad symbol is basically an NPN-BCE, i.e. 1-Base, 2-Col

[2019-09-14 23:26] cpresser commented on #1722
This applies to all `AudioJack*`in the library. Thats 22 parts in total.
One simple workaround is to use mirror in the schematic editor.
![image](https://user-images.githubusercontent.com/17516572/64914747-bfb5cc80-d757-11e9-836e-c3000f806afc.png)

[2019-09-15 19:15] gkeeth commented on #2163
I dug around a little more, and this affects all SOT-223 transistors in the library.
These parts also have 3 pins in the symbol but specify the standard (4 pin) SOT-223 footprint:
BCP51
PZT2222A
PZT3904 (alias BCP56)
PZT3906 (alias BCP53, PBSS301PZ)
PZTA42

[2019-09-16 15:12] evanshultz commented on #2163
Option 2 matches the convention used in the library, and won't break existing schematics, so let's go with that.

However, I've noted before that this is a limitation because it may be valid to only connect pin 2 or only pin 4 (in the footprint shown above) if thermal isn't a problem. In that case, the default symbol doesn't work. So switching to a 4-pin symbol for v6 is, in my opinion, something

[2019-09-16 15:27] gkeeth commented on #2163
Out of curiosity, can you elaborate on the convention used in the library (or just point me to another illustrative part)?

When I get a minute I'll put together a quick pull request to change the footprints and link it here.

[2019-09-16 16:04] evanshultz commented on #2163
It's just the convention used, and not documented. Two related discussions not involving me and going back some time to establish the precedent are https://github.com/KiCad/kicad-library/pull/1875 and https://github.com/KiCad/kicad-library/pull/479. (Note that whether using the footprint with two pin 2s or stacking two symbol pins with the footprint shown above, the result is the same to the user

[2019-09-17 00:19] gkeeth commented on #2163
I created #2175 to fix this.

[2019-09-17 15:35] evanshultz commented on #2163
Removed the bug label since the fixing PR has been merged. Marked with v6 milestone as this is something we can revisit at that time.

[2019-09-17 19:22] pyrohaz opened #2178 "XPT2046TS footprint is incorrect"
Footprint is "Package_SO:TSSOP-14_4.4x5mm_P0.65mm" but should be "Package_SO:TSSOP-16_4.4x5mm_P0.65mm"

[2019-09-17 20:58] evanshultz commented on #2178
Do you have an official datasheet link? What you say is confirmed by https://www.buydisplay.com/download/ic/XPT2046.pdf, but I'm not able to view XPTEK's website.

[2019-09-17 21:26] pyrohaz commented on #2178
Yeh, the Xptek website doesn't seem to have it on but LCSC has the same datasheet as featured above: https://lcsc.com/product-detail/Driver-High-Current_XPT2046_C19076.html I also have a couple of the ICs here too.

[2019-09-18 08:53] poeschlr commented on #2178
The symbol defines pin 15 and pin 16 so yes there is some mistake. (Either too many pins in the symbol or the wrong footprint. And as datasheets seem to suggest the later then i would guess this to be the correct fix.)

[2019-09-19 14:10] cp-aquila opened #2180 "MCP7940N* are in the wrong library"
There are 5 varaiants of this device in the `Timer` lib. But they should be in `Timer_RTC`.

[2019-09-19 15:13] evanshultz commented on #2180
Duplicate. https://github.com/KiCad/kicad-symbols/issues/1840

[2019-09-19 15:13] #2180 closed

[2019-09-19 15:21] evanshultz commented on #2178
Without knowing the body size and pitch this is probably the best we can do.

@pyrohaz
Do you have one of the ICs that you can confirm the footprint? Also, are you willing to make a PR to fix this error?

[2019-09-19 16:06] chschlue commented on #2178
FYI:
XPTEK's website loads for me now, but their English DS links are broken.

[2019-09-19 16:35] #2074 closed

[2019-09-20 17:40] evanshultz commented on #2178
http://www.xptek.cn/uploadfile/download/201707171401161883.pdf is the Chinese datasheet and it has dimensions. I submitted https://github.com/KiCad/kicad-symbols/pull/2183.

[2019-09-20 20:52] evanshultz opened #2184 "How to name symbols for 'equivalent' parts with different MPNs"
Picking off a conversation from . I believe the idea was originated at .

[2019-09-20 20:54] evanshultz commented on #2184
Edit: Someone pressed a keyboard key and submitted this early. Oops.

[2019-09-20 21:06] poeschlr commented on #2184
To clarify this is about a subsection of S2.1 that was touched in https://github.com/KiCad/kicad-website/pull/407

The wording before the KLC change:
- Part name should include extension for specific footprint if the same part is produced by multiple manufacturers that have conflicting package name suffixes (e.g. `SOIC`)
My original suggested wording:
- If and only if multiple manufacturers build

[2019-09-20 21:45] poeschlr commented on #2184
And maybe stating the obvious: If the current wording is kept (yes it got merged) then we have quite a few symbols to rename for v6.

And if we already go this far why not get rid of this exception as it only creates more work for us and is not really well liked anyways.

[2019-09-20 21:52] evanshultz commented on #2184
I think we're on the same page that this is hacky and it would be nice if we found a better way. I noted a fully-defined example above where we could use an ALIAS to capture two identical PNs. Kind annoying to have to maintain two identical DCM entries, but this doesn't happen often and fully-specified may be the best method for KiCad library users. Food for thought...

[2019-09-20 22:27] chschlue commented on #2184
The discussion from https://github.com/KiCad/kicad-website/pull/407 has shown (I think) that narrowing the exception down to just suffixes makes it basically useless because it would only apply to a handful of parts (e.g. 6N137). Broadening it to "base MPNs" makes it wishy-washy because it is not always clear what the easily recognizable "base MPN" is supposed to be when prefixes and possibly more

[2019-09-21 05:57] poeschlr commented on #2184
The logic libs (your 74HC04 example) do not have footprints assigned so they are considered generic symbols and are not covered by this rule for this reason.

We can make the fully specified but well lets say i am not optimistic that we will find a volunteer for this thankless task (we could not even find enough manpower for fixing the hidden power pin problem)

[2019-09-21 07:08] chschlue commented on #2184
I know it's probably not going to happen soon, but all the parts covered by S2.1.3 and by my examples are basically generic (in that they have several manufactures using the same "base MPN"), so my suggestions fewer rules and, more importantly, fewer exceptions.
Or is there a particular reason for keeping generic libs at all, except for the lack of manpower?

[2019-09-21 07:22] poeschlr commented on #2184
We will always have some generic libs where it makes sense. Connectors for example make no sense to be made fully specified. Same with standard passives.

[2019-09-21 07:29] chschlue commented on #2184
I thought the context implied we're talking about ICs here.
And in that realm, I fail to see the real difference between 4000 series, 7400 series, 78/79xx regulators, "generic" op amps and so on.

[2019-09-21 08:00] #2178 closed

[2019-09-22 19:35] #1956 closed

[2019-09-24 08:01] jgladen opened #2196 "Many IGBT "Emitter" Arrows seem inverted"
I am uncertain. but I think several of the IGBT symbols have the Emitter Arrow pointing toward the gate.

[2019-09-24 08:25] poeschlr commented on #2196
I would guess our symbols are based on
https://commons.wikimedia.org/wiki/File:IGBT-Symbole.svg

Which would mean yes the lower arrow is indeed the wrong way round.

[2019-09-24 15:58] #2196 closed

[2019-09-24 22:07] evanshultz opened #2200 "BFR92 has wrong package assigned"
This is concerning Transistor_BJT.lib as I was making https://github.com/KiCad/kicad-symbols/pull/2199.

Our `BFR92` symbol is assigned the SOT-323 package. It references a NXP datasheet at a broken URL. I don't find BFR92 with no suffix available on the market. So I'm not sure what's going on.

Sticking with NXP datashseets, I do see BFR92AW at https://www.nxp.com/docs/en/data-sheet/BFR92AW_N.pdf

[2019-09-26 18:55] evanshultz commented on #950
All DirectFET footprints used by symbols are now present in the library.

[2019-09-26 18:55] #950 closed

[2019-09-26 20:44] Enzo1960 opened #2208 "LP2950 TO252 wrong pins"
LP2950 voltage regulator has input and output terminals exchanged. Furthermore, if I try to modify it or any other of LP2950 family, the editor bring me at MC78L05.

[2019-09-26 20:53] chschlue commented on #2208
What do you mean?
LP2950-*_TO252 are aliases of LM78M05_TO252, pinout 1-IN, 2-GND, 3-OUT.

[2019-09-26 21:33] evanshultz commented on #2208
Here is the symbol:
![image](https://user-images.githubusercontent.com/1936989/65726410-dae2df00-e069-11e9-8b3f-64de7e0730c0.png)

And the default footprint:
![image](https://user-images.githubusercontent.com/1936989/65726434-e8986480-e069-11e9-8252-18266f766095.png)

A quick Digikey search shows two LP2950 vendors in TO252 package:
- http://www.ti.com/lit/ds/symlink/lp2951-n.pdf
- https://www.ons

[2019-09-27 06:17] Enzo1960 commented on #2208
You're right, LP2950 in TO252 package has 1 for input and 3 for output. But in symbol library 1 is marked "VO" and 3 is marked "VI".

[2019-09-27 06:25] Enzo1960 commented on #2208
EXCUSE ME!
I apologies, my failure: I choosed initially TO92 model and later I changed in my project footprint from TO92 to TO252, thinking it was same, No bug, excuse again waste of time!

[2019-09-27 06:26] #2208 closed

[2019-09-27 17:27] chschlue commented on #2115
Just for the record and because this came up again in #2087:
I'm also against the arrows. No need for an excessively pedantic textbook hysteresis plot here.

[2019-09-30 18:06] evanshultz opened #2218 "Should 'series' symbols be disallowed?"
From https://github.com/KiCad/kicad-symbols/pull/1997.

Some symbols, for zener diodes and other related parts (like TVS diodes) that I can recall, use a single symbol with wildcards for the entire series. Examples are `BZT52Bxx` and `5KPxxCA`. (`DZ2S*` is the only series I see that is not this way.)

Should this be allowed? Because of the KLC updates now clarifying fully-specified symbols, perhap

[2019-09-30 18:23] poeschlr commented on #2218
Maybe we can keep the series symbol as the basis but add aliases (the series symbol gives lovers of the generic workflow an entry point while the aliases fulfil the needs of fully specified preferring users. At the cost of only one additional entry in the lib)

[2019-09-30 18:56] chschlue commented on #2218
I think there are several issues attached to this question.
1. While I like Renes suggestion, it currently clashes with [S2.2](http://kicad-pcb.org/libraries/klc/S2.2/)
`To capture every possible combination of part variation would require a large number of symbol aliases and is to be avoided.`
This raises the question if avoiding aliases was ever the actual intention and if so, does it make much

[2019-09-30 19:19] evanshultz commented on #2218
@poeschlr
That's a good compromise.

Would there be a case where a generic 'series' symbol could capture multiple packages but the specific ones certainly would not? I can't think of an example right now, and that's the only caveat I can imagine. If so, we could do some ugly thing like append the package name onto the end of the generic 'series' symbol.

@chschlue
I think the issue is your underst

[2019-09-30 19:50] poeschlr commented on #2218
I would keep it with one symbol per package in any other lib than the ones specifically called out for fully generic symbols. This also makes it easier to set up as you can then use the same alias structure for the semi generic one as for the fully specified options (if we want to combine multiple footprint options then we would need an extra symbol without assigned footprint and additional footpr

[2019-09-30 19:55] chschlue commented on #2218
So we agree there are different kinds of "functional". Or let's say different levels.
1. Packaging and such are obviously "non-functional" differences.
2. Zener voltage is obviously a functional difference for Zener diodes. So is size for memory, just for completely different reasons.
3. Temp rating falls somewhere inbetween. Important for functionality of the product as a whole but not changing i

[2019-10-14 21:15] diegoherranz commented on #2200
I can't find anything about the BFR92 without suffixes either. Only BFR92AW (SOT-323) or BFR92A (SOT-23).

Even if this breaking change would be an easy one to fix by the user in the schematic, I think we need to avoid breaking symbols unless it is a bug. I'm not sure I would consider this a bug.

I would vote for leaving this for v6, when we can rename this to BFR92AW and probably create the BFR9

[2019-10-15 17:08] evanshultz commented on #2200
Thanks for looking and responding!

I personally lean toward this being a bug but with low impact so waiting or not are OK to me.

Because the package is different they can be ALIASes. Or did I misunderstand?

Add the keyword now is a good idea. Updating the datasheet would also be good.

[2019-10-15 17:34] diegoherranz commented on #2200
I wouldn't be opposed to that if other librarians agree with it.

What I meant is that BFR92 could be an alias of BC817W, for instance, instead of having its own symbol.

[2019-10-17 13:50] poeschlr opened #2249 "USB ESD protection device TPD4EUSB30 "NC" pins are not truly NC"
The datasheet http://www.ti.com/lit/ds/symlink/tpd2eusb30a.pdf suggests connecting the NC pins in its suggested layout section meaning the pins should definitely not be invisible and arguably not even pin type "not connected". I would suggest to have the current NC pins placed as visible with pin type passive next to the signal pin that is suggested to be routed through it in the suggested layout

[2019-10-21 06:31] poeschlr commented on #2142
Ok it seems like 5.1.5 is now getting some traction: https://lists.launchpad.net/kicad-developers/msg42278.html

[2019-10-21 09:16] antoniovazquezblanco commented on #2142
It seems that there is no urgent symbol and 3D stuff; footprints are only missing the rounding PRs and the ISO templates that Evan mentioned avobe:

https://github.com/KiCad/kicad-symbols/milestone/10
https://github.com/KiCad/kicad-footprints/milestone/6
https://github.com/KiCad/kicad-packages3D/milestone/5
https://github.com/KiCad/kicad-templates/milestone/4

[2019-10-22 20:03] PanRe commented on #520
It seems to the case that all the STM32 MCU footprint links are broken too. However, might be easy to fix since the name of the footprints, as it seems, only need to be changed from "Package_XYZ" to "Housings_XYZ".

[2019-10-22 20:20] chschlue commented on #520
@PanRe
Which ones?
Is this a call from the past?

[2019-10-22 20:30] PanRe commented on #520
@chschlue
Call from the past?
I just installed kicad v5 and cloned the latest kicad libs. As far as I have seen, all footprint links of the STM32 MCUs are wrong. There exists no footprint library called Package_xyz... From where I have cloned only Housings_xyz exist. The footprints inside those libs, however, have the same names. Hence only the library name need to be changed.

[2019-10-22 20:38] chschlue commented on #520
Did you accidentally clone v4 FP repos?

[2019-10-23 05:42] poeschlr commented on #520
@PanRe My guess you had version 4 installed sometime in the past and still have the footprint library table setup with the version 4 libs via the github plugin: https://forum.kicad.info/t/i-had-kicad-4-installed-previosly-now-i-updated-to-v5-now-i-have-some-problems-with-the-library-setup/11932

[2019-10-23 16:31] PanRe commented on #520
@chschlue
No i did clone the correct one.
 @poeschlr
Thank you very much! That was exactly the case! I did not expect that since i deinstalled KiCad v4 prior to installing v5. Nevertheless, thank you very much for your help!

Thank you guys!

[2019-10-24 08:40] polwel opened #2264 "Minicircuits RF transformers labelled with incorrect metadata"
The transformers from the ADTxx series in the *transformers* library contain incorrect data in the description. For instance, the ADT9-1T is marked as 9-800MHz, when it is actually rated 1 - 250 MHz. Also the description says the footprint is CD637, though the symbol is actually assigned the correct CD542 footprint.

[2019-10-28 04:35] DanSGiesbrecht commented on #2264
Hi @polwel! Thank you for pointing this out. I have updated the descriptions and opened a [PR](https://github.com/KiCad/kicad-symbols/pull/2272).

[2019-10-29 02:40] thawkins opened #2274 "How do you install these libraries"
Is there any step by step documentation on how to install these libraries in kicad, for linux uses.

[2019-10-29 04:52] DanSGiesbrecht commented on #2274
http://www.kicad-pcb.org/libraries/download/ should provide the information you need. Does this answer your question?

[2019-10-29 04:54] DanSGiesbrecht commented on #2274
Here's some more detailed information: https://forum.kicad.info/t/library-management-in-kicad-version-5/14636

[2019-10-29 06:54] poeschlr commented on #2274
Most linux distros should come with a separate package for the libraries. I suggest to use that if you do not want to do something special.
https://forum.kicad.info/t/i-installed-kicad-5-under-linux-but-there-are-no-libraries-the-default-option-for-sym-lib-table-setup-is-disabled/12962

[2019-10-30 03:51] DanSGiesbrecht commented on #2264
This has been resolved in the above PR. Thanks again!

[2019-10-30 03:51] #2264 closed

[2019-10-30 04:46] DanSGiesbrecht commented on #1808
Hi @karlp - thank you for bringing attention to this. Unfortunately, breaking changes to schematic symbols (such as stacking GND pins) won't be made until we start organizing for v6. I've added this as a milestone.

[2019-10-30 05:00] DanSGiesbrecht commented on #2274
@poeschlr @thawkins, are you comfortable closing this issue?

[2019-10-30 06:22] poeschlr commented on #2274
Yes as it is clearly a support question. The github library issues are not meant to be used for tech support

[2019-10-30 06:22] #2274 closed

[2019-11-02 19:11] DanSGiesbrecht commented on #2145
Unless anyone has an objection, I'm going to close this.

[2019-11-02 19:11] #2145 closed

[2019-11-02 19:17] DanSGiesbrecht commented on #1809
@Salamandar why does your schematic have pins numbered `1,7,13,9`? The library symbol has `1,2,3,4`. Can this issue be closed?

[2019-11-05 09:20] Salamandar commented on #1809
The library was updated (by my distro), and the issue disappeared. I guess there was a bug in the libraries at the time, but already fixed in master.

[2019-11-05 09:20] #1809 closed

[2019-11-09 10:36] 5N44P opened #2293 "Duplicated pins policy on arduino modules"
Recently i found myself doing some new arduino symbols for a project, and i noticed that all boards have duplicated pins that are not stacked.
Since the duplicated pins are shorted in the module, it doesn't make much sense to me to have them available for connecting different nets.

What do you think about this? Is it intentional? I would propose a PR to stack all stackable pins on the various boa

[2019-11-09 10:58] poeschlr commented on #2293
I do not think the reset pins should be stacked as the user might not always want to use both of them.

The positive supply pins are not stacked because one might want to show which decoupling capacitor goes with which pin. (might even want to use net ties to force a particular layout.)

The ground pins might however be best stacked.

[2019-11-09 11:58] 5N44P commented on #2293
The positive power supply pins are actually different: vin is a raw power input, 5v is a regulated 5V output (or input if vin is not connected), 3.3v is a power output, so they definitely should not be stacked.

The reset should be pretty clear to the user that is the same signal, but the duplicate A4 and A5 on the Uno might be confusing because they have a double function, shouldn't it be clearer

[2019-11-11 02:09] DanSGiesbrecht opened #2298 "STM32L051C8Tx VLCD Pin Position"
I don't see any reference to `VLCD` in the [datasheet](https://www.st.com/en/microcontrollers-microprocessors/stm32l051c8.html) (pin 1 is called `VDD`). Should this be placed at the top of the part?

![image](https://user-images.githubusercontent.com/7242621/68555977-8dd68480-03ed-11ea-9254-22a7c16a83a7.png)

[2019-11-11 21:10] myfreescalewebpage commented on #2298
Power Input so for me should be moved to the top. If it's VDD pin, should also be renamed !

[2019-11-12 16:10] daviid5 opened #2300 "High pin count connector"
Hello,

I'm currently designing a PCB with this connector:
https://b2b.harting.com/files/download/PRD/PDF_TS/0923148X921_100072926DRW058B.pdf
The connector has 48 pins.

Whats the best practice for an symbol for an connector with 48 Pins

![image](https://user-images.githubusercontent.com/12120371/68688573-45df6b00-056f-11ea-8569-aaf55bb76d94.png)
Such an conector can't be the solution, it simply

[2019-11-12 16:29] evanshultz commented on #2300
Our DIN 41612 footprints are nearly finished and then we will add symbols. Three-row symbols suited for this standard don't exist in the official library at this time. There is an issue about the symbol style to use but I'm not taking the time to search for it now.

You are free to make your own symbols. I assume you'll be making your own footprints.

For usability questions, https://forum.kicad.i

[2019-11-12 16:33] daviid5 commented on #2300
I've seen this style in the AppNote from TI:
![image](https://user-images.githubusercontent.com/12120371/68690459-59d89c00-0572-11ea-9ee4-4de9349f579a.png)

Maybe this could be an solution?

Is there an PullRequest for the DIN 41612 connectors?

[2019-11-12 18:00] poeschlr commented on #2300
For connectors with more than 3 rows a multi unit approach (one unit per row) might be the best option.

If we go with a single unit symbol then i suggest that a given row always exits on the same side of the symbol (I find it strange that in the screenshot half of row b exits to the left while the other half exits to the right)

[2019-11-14 19:07] 5N44P opened #2305 "Arduino MKR series - aliases or separate symbols?"
The new Arduino MKR series has the exact same pinout for every board.
The only one exception is the [MKR Vidor 4000](https://store.arduino.cc/mkr-vidor-4000) which has an additional PCIe connector. However for the mechanical nature of the board, i can think only mounting techniques which use either the *usual* MKR pinout **OR** the PCIe connector.
The footprint for the various MKR boards would als

[2019-11-17 15:23] poeschlr commented on #2142
The source code has been tagged so i will tag the library within the next hour or so.

[2019-11-17 16:23] poeschlr commented on #2142
Report regarding symbol lib:

Pins have been moved, renumbered or removed in symbol
- '74xx_IEEE.lib:74278' (#2162)
- '74xx_IEEE.lib:74LS192' (#2162)
- '74xx_IEEE.lib:74LS193' alias of 74LS192 (#2162)
- '74xx_IEEE.lib:74LS290' (#2162)
- '74xx_IEEE.lib:74LS49' (#2162)
- 'Analog.lib:LF398_DIP8' (#2141) -> Pin number fix
- 'Analog.lib:LF398_SOIC8' alias of LF398_DIP8 (#2141) -> Pin number fix
- 'Anal

[2019-11-17 21:25] #2142 closed

[2019-11-23 16:12] ctbenergy opened #2327 "Error: PS1 pad NC not found in Converter_ACDC:Converter_ACDC_MeanWell_IRM-03-xx_THT"
Converter_ACDC.lib
DEF IRM-03-3.3
Pin name and pin number is reversed
change
X 5 NC -300 0 100 R 50 50 1 1 N
to
X NC 5 -300 0 100 R 50 50 1 1 N

[2019-11-24 05:35] evanshultz commented on #2327
Confirmed.

@ctbenergy
Would you make a PR to fix this? Thanks for catching this error and reporting it.

[2019-11-27 15:54] drid opened #2343 "ADT1.5-1 wrong pin assignment"
ADT1.5-1 which is an alias of ADT1-1WT has different CT and NC pins
ADT1.5-1 has pin 2 as secondary CT and pin 5 not connected

[2019-11-27 17:04] sethhillbrand opened #2345 "GitLab Symbol Migration"
Hi Librarians-

As part of the Great KiCad GitLab migration of 2019, I am testing the movement of open issues and PRs from GitHub to GitLab.

Here's what we know so far:

- Open Pull Requests will transfer to GitLab without moving the source of the PR.  That means pull requests will become GitLab Merge Requests that are referenced to the user's GitHub repository
- Open Issues will transfer to GitL

[2019-11-27 23:16] calebreister commented on #2345
Since I have a GitLab account already, is there a way I can migrate my KiCad library forks now? Will the bot be able to detect the GitLab fork and link to it instead of the GitHub version?

[2019-11-27 23:19] sethhillbrand commented on #2345
We cannot migrate your branches. But as long as your GitHub email is public and the same as your GitLab email, the migrated PR will still be assigned to you and will reference your original GitHub branch.

[2019-12-06 11:39] opatut opened #2367 "Don't tag inverted input pins with ~ and N prefix"
Lots of components have pins that have `N` in the name to indicate a negative/not input (inverted), but are also tagged with `~` and thus receive a line above them to do the same. The result looks like this:

![image](https://user-images.githubusercontent.com/235784/70320527-3decb100-1825-11ea-8c83-7f4a59b76180.png)

That implies an *inverted* `nRESET` pin, which would be an uninverted `RESET` pin

[2019-12-06 20:47] chschlue commented on #2367
NUCLEO144-F429ZI -> bug

BNO055 -> bug

Z80CPU -> false positive

74173 -> disputable

ZETA-433-SO -> bug

CH340T -> disputable

CY7C65211-24LTXI -> bug

CY7C65215-32LTXI -> bug

TUSB2036 -> false positive

Ai-Thinker-Ra-01 -> bug

MM002 -> bug

false positives

Are you willing to patch these?

[2019-12-07 17:21] opatut commented on #2367
I would be honoured. I am preparing a PR right now.

The [datasheet](https://www.ti.com/lit/ds/symlink/sn54173.pdf) calls the inputs `N` and `M`.

![image](https://user-images.githubusercontent.com/235784/70378170-c51d5000-191d-11ea-9150-08b857b30c38.png)

They are technically being inverted inside the logic:

![image](https://user-images.githubusercontent.com/235784/70378175-d4040280-191d-11ea-9d

[2019-12-18 19:06] myfreescalewebpage commented on #2327
PR merged, issue is closed.

[2019-12-18 19:06] #2327 closed

[2019-12-22 11:05] aewallin commented on #2345
Is there a status update on this? (last comment 25 days ago, not many days of 2019 left ;) )

are the new repos going to eventually appear here? https://gitlab.com/kicad/libraries

[2019-12-26 21:30] Shackmeister opened #2403 "ERC error due to Pin type confusion"
Hi All

In a schematic I am using a BNO055
Datasheet: https://www.bosch-sensortec.com/media/boschsensortec/downloads/smart_sensors_1/bno055/bst-bno055-ds000.pdf

Symbol is located in Sensor_Motion:BNO055

According to the datasheet, COM2 (Pin 18) is an I/O (Bidirectional) but must always be connected to GNDIO. This produces and error since Power Out shouldn't be connected to Bidirectional.

Is thi

[2019-12-29 23:41] #2367 closed

[2020-01-04 09:03] aewallin commented on #1881
Some random thoughts:

* a separate atomic-mapping improves on the current situation where a fully specified symbol is needed for e.g. the same op-amp in different footprints.
* if a new atomic-mapping format is introduced it should come with a GUI of its own
* SPICE models could be included
* many footprints (and maybe 3D models) are script-generated. The script or a reference to the script could

[2020-01-04 09:26] poeschlr commented on #1881
I am fully against true atomic file formats (If something is atomic then it is inseparable -> for us that would mean symbol and footprint data in the same file -> use eagle for a while to discover why this is a bad idea -> hint it scales very badly.)

The inheritance feature of the new file format should be able to do the same (unless i misunderstood it) How it is represented to the user is anothe

[2020-01-09 17:39] evanshultz commented on #2403
That's odd. Did you contact Bosch about it?

I would say the pin type should change. If this is the way the part must be used, then no sense to make it harder for all users. Passive would be my vote, with what I know now, since this pin may have some functionality but it's not intended for the end user.

[2020-01-13 22:59] hildogjr opened #2446 "Add open collector symbol"
Some parts / symbols listed above could have added the "open collector symbol". This will improve the schematics (main in a printed version):
7405 and 06 http://www.ti.com/lit/ds/symlink/sn74ls06.pdf
74596
7433
7403
...

[2020-01-14 00:01] evanshultz commented on #2446
This topic is covered at https://github.com/KiCad/kicad-symbols/issues/2115, but apparently you _really_ want your own issue about it.

[2020-01-14 22:50] hildogjr commented on #2446
Since this could be easy to fix than #2115 that is a more deep discussion, I use this to registry a pull request adding the "open collector" symbol to the logical parts.

[2020-01-18 11:04] leechwort opened #2451 "NC7SB3157P6X does not have any connection to power"
![image](https://user-images.githubusercontent.com/4254582/72662694-af0daf80-39f2-11ea-8f17-5cf7ea3b4343.png)
as a result pins, 2 and 5 are not connected to the power rail.
![image](https://user-images.githubusercontent.com/4254582/72662701-c9478d80-39f2-11ea-9220-5b7c9d2c18d7.png)
Is it normal? If not, I can submit pull request with fix:)

[2020-01-18 11:11] chschlue commented on #2451
This is a multi unit symbol. Unit B contains the power pins.

[2020-01-18 11:13] leechwort commented on #2451
Aha, understood!

[2020-01-18 11:14] #2451 closed

[2020-01-18 11:14] leechwort commented on #2451
It is normal operation

[2020-01-19 14:00] aracosta1 opened #2455 "Common mode filters symbols"
Hello,
Currently in the library there is only one symbol for Common mode filters, EMI_Filter_Common_mode, but the pinout is not always correct for some manufacturers.

As an example Bourns use this pinout
![image](https://user-images.githubusercontent.com/12937688/72682254-64139b00-3acb-11ea-8045-9e4bf85fb965.png)

but Wurth use this
![image](https://user-images.githubusercontent.com/12937688/7268

[2020-01-20 15:44] evanshultz commented on #2455
https://github.com/KiCad/kicad-symbols/pull/2376. I'll add the one you mention above shortly since nobody has commented or assigned themselves to my PR yet.

Closing since this is a known issue with a fix PR submitted.

[2020-01-20 15:44] #2455 closed

[2020-01-27 20:54] poeschlr commented on #743
I would say this is a topic for version 6 (so i set the milestone for it). I would vote for having jumpers only in the jumper lib and possibly also adding symbols for jumpers using the typical pin headers (something that looks like such a jumper side on.)

[2020-01-27 21:11] sslupsky commented on #743
Please consider a DRC rule for these as well.

[2020-01-28 10:05] poeschlr commented on #743
V6 will have native support for net ties. This will solve such problems. Plus our current version of net ties does not create a DRC error so you might want to look at them to learn how to solve your problems.

[2020-01-28 12:24] nerdyscout opened #2469 "onfi nand flash"
I am currently working in this symbol
![grafik](https://user-images.githubusercontent.com/8549545/73260894-3b765a00-41cb-11ea-93de-a5e71e3a1523.png)
based on this documentation
http://www.onfi.org/-/media/client/onfi/specs/onfi_4_0-gold.pdf?la=en

there are a few things i would like to ask before preparing a pull request:
- the symbol size is rather big as all pins are duplicate for both channels.

[2020-01-29 15:05] jneiva08 opened #2474 "Footprint filter"
In some IC footprint filter have DIP and PDIP or SO and SOIC,
but i the datasheet have only SO or DIP, witch should choose or should be the two options?

[2020-01-29 16:32] chschlue commented on #2474
Not sure if I understand the question correctly, but:
KiCAD FPs for plastic (P) and ceramic (C) DIP are both DIP while SO usually means 5.3mm wide SOP or 3.9mm wide SOIC, depending on manufacturer, moon phase and probably some other factors.
Hope this helps.

[2020-01-29 17:11] evanshultz commented on #2474
Ultimately, what we are moving toward is having a unique symbol for each package. That will resolve any questions on this topic.

But in the meantime, and for some generic symbols, we have multiple footprint filters for physically-different packages. In this case, if the footprint filter is for a package that isn't available in a datasheet, I can imagine a few possibilities:
- A simple human error

[2020-02-04 15:42] nerdyscout commented on #2469
started now this pr #2477

[2020-02-16 12:12] Gasman2014 opened #2494 "Interface.lib and Interface.dcm have wrong umask"
Just recloned this repo and noticed that the `Interface.lib` and `Interface.dcm` files are showing umasks of 0755 (rwxr-xr-x) and not 0644 (rw-r--r--).

[2020-02-16 20:02] #2494 closed

[2020-02-18 09:45] serkanxselcuk commented on #2345
Hi librarians and developer team, @poeschlr @sethhillbrand

Actually I find it great with structured subgroups, so every team can work under one kicad account as sub teams.
https://gitlab.com/kicad/libraries seems to be empty. Do you have any update for us? When will we move or will we move? is anyone working on it?

[2020-02-18 17:33] poeschlr commented on #2345
I currently have no time to do it. I doubt it will change soon. The transition is a lot of work that does not really directly pay off as github and gitlab have basically the same feature set. (But different enough to make problems especially regarding the automated systems we have in place) It will also mean that most of the currently open pull requests will kind of die.

If you want to help then

[2020-02-21 09:47] michalelektryk opened #2504 "More typs of switches"
I'm beginner in KiCad so I may simply not be able to find them, but I have 4 and 6 position slide switches and they doesn't seem to be available in the library.  SS-14D01 for eg. All in all the switch library seems to be very basic not even including very popular 3DPT switch used in guitar effects.

Am I missing some libraries (maybe community based) or there simply switches aren't well supported?

[2020-02-21 18:00] evanshultz commented on #2504
This library is largely driven by contributors. If you find useful symbols missing, please create a PR to add them. It would be great to have more symbols that KiCad users find beneficial. We do not take requests for symbols, though, because there is too much to do and we're all volunteers.

Please do search around in other PRs and issues here, take a look at http://kicad-pcb.org/libraries/klc/, a

[2020-02-22 16:30] poeschlr commented on #2504
We have a general rule about issues. We do not take any requests for assets. This is done as we can not reasonably expect that the library will ever have assets for all possible parts that exist. Issues are therefore reserved to report problems with existing assets.

As evan stated contributions are welcome but i will still close this issue. (For the future questions for library assets might be be

[2020-02-22 16:30] #2504 closed

[2020-02-28 14:46] norpan opened #2514 "74HC137 and 74HC237 has the wrong pin name (A3 instead of A2)"
The symbol for these look like this:
![image](https://user-images.githubusercontent.com/1681354/75557816-09158200-5a41-11ea-98d6-93609b4a4a10.png)

[2020-02-28 18:46] chschlue commented on #2514
Bug confirmed.
Also, 137's outputs aren't negated.

Are you willing to submit a PR to fix this?

[2020-02-29 22:23] norpan commented on #2514
I can try, I have the modified one in my own library, but how would I in the easiest way put it in the github library?

[2020-02-29 22:27] norpan commented on #2514
Shouldn't they just share the symbols with the other 74x137 and 74x138 circuits, I mean, they have the same pin layout as for instance 74LS137. Or is there something with the pin naming?

[2020-02-29 22:48] norpan commented on #2514
Actually, looking through the 74xx library, it could do with a massive cleanup, it has different output names using letters Y, O, S etc. I guess different manufacturers will have different pin names, but since these are generic symbols, they should probably have the same naming standard.

Since TI was the original manufacturer of the 74 series, it makes sense to follow that naming and also to have

[2020-02-29 23:33] norpan commented on #2514
I also see a lot of symbols using the circles (inverted input/output) even though the style guide says to use ~ for negated pins instead of the circle. Personally I like the circle, but I like consistency more :)

[2020-03-01 06:54] chschlue commented on #2514
74LS137, 74HC137, 74LVC137 and so on can be aliases of each other (and already are currently, if I'm not mistaken). 137, 138, 237, 238 however cannot, 137 and 237 have latch pins, 237 and 238 aren't inverting.

The logic libs are in a terribly state, your comment isn't even scratching the surface.
The problem is, a real cleanup can only start after 5.1.6 is released because we cannot break existin

[2020-03-01 09:58] norpan commented on #2514
Ok, yes, I agree that backwards compatibility is needed. So basically the only thing that can be fixed are pin names? It would be great if there were some guidelines about which pin names to use for these generic circuits.

No, 74HC137 is not an alias of 74LS137. Perhaps the best fix would be to make it so. However, the 74LS137 has a different pin length, and also circles on the outputs, so doing

[2020-03-01 10:15] chschlue commented on #2514
While we have no written rule, I would grant the naming rights to TI, for the reasons you already stated above.

The most important thing is for pins to stay at the same position.
Adjusting pin lengths (and body outline accordingly) would be permissible. The questions is whether it's worth the effort at this time.

In case you want to start fiddling around with the logic libs in the new (v6) file

[2020-03-01 11:13] norpan commented on #2514
But changing pin length could lead to issues, right? I mean, a signal connected to a longer pin would no longer be connected if the pin was shortened.

I'm interested to learn about this new format, is it documented somewhere? Also, having all symbols in one single file in git is a bit fiddly when making patches. Is there a plan to make them separate files and then build them together? Or keeping

[2020-03-01 11:41] chschlue commented on #2514
Yes, that's why the outline rectangle has to be adjusted, too.
When you shorten a pin, its outside end stays where it was but the other end doesn't touch the body anymore.

There have been lots of ideas, like expanding the alias system to some kind of inheritance model (so almost-but-not-quite-the-same symbols can inherit most properties from a common parent and change only what's required (like d

[2020-03-01 12:05] #2514 closed

[2020-03-02 00:40] dieterss opened #2520 "USB3 B connector has incorrect pin power type"
The USB3 B type connector symbol annotates the VBUS & GND pins a "Power Input" whereas they should be "Power Output". The USB2 B type connector has this correct.
(Annotating these pins as "Power Output" has been described as the correct annotation in issue #989)

Much less interesting, but still seemingly incorrect, the connector drawing on the symbol reflects a type A connector instead of a B typ

[2020-03-11 05:38] serkanxselcuk commented on #953
@antoniovazquezblanco
I remember my first message here :)

[2020-03-12 02:47] sarfat96 opened #2537 "Wrong pin number on BD140 transistor"
Pin configuration on datasheet:
1. Emitter
2. Collector
3. Base

Pin configuration on KiCad 5:
1. Collector
2. Emitter
3. Base

[2020-03-13 19:12] evanshultz commented on #2537
@sarfat96
Thanks for taking the time to report this.

This rang a bell so I searched around a bit. Appears to be the same as https://github.com/KiCad/kicad-symbols/pull/2116, but that PR never got finished and it seems everyone forgot. Sorry you ran into this again.

Would you be willing to submit a new PR to correct it, taking into account the original PR's feedback?

[2020-03-16 09:56] cpresser commented on #2132
With https://github.com/KiCad/kicad-symbols/pull/2301 merged, can we close this issue?

[2020-03-16 10:12] kagehisa opened #2552 "Analog_Switch ADG728 wrong Pin to signal assignment"
In the official Datasheet the pinout is the following:
![Bildschirmfoto 2020-03-16 um 11 04 58](https://user-images.githubusercontent.com/37015428/76745570-636b4e00-6776-11ea-80de-5ee7f4c13a30.png)

In the Library the pinout for Signals 1 to 4 are correct but 5 to 8 are wrong.
![Bildschirmfoto 2020-03-16 um 11 08 33](https://user-images.githubusercontent.com/37015428/76745747-b04f2480-6776-11ea-9d

[2020-03-19 10:03] cpresser opened #2563 "Remove ATSAMD21G18A-AUT"
In https://github.com/KiCad/kicad-symbols/pull/2336 better SAMD21 symbols were added.
Also the suffix  `AUT` contains temperature and packaging information.

#2366 also contains `ATSAMD21G18A-A` which makes the `AUT` part a duplicate in the lib.

As soon as breaking changes are allowed the `AUT` part should be removed.

[2020-03-19 10:32] cpresser commented on #2552
Can confirm, that looks broken.
Would you provide a fix for that? It is a rather simple change and a good way to start contributing to the library.

[2020-03-19 10:45] cpresser commented on #2520
I was searching when this was introduced, but can't find it. Most likely this was copied over from the v4 libs in this commit a2bdaa3be670077b6daeeef81ddca099ffdd1a9d

@dieterss would you like to submit a fix for this issue? It seems like it is rather simple to fix and you already know the solution.

Regarding the Tx/Rx lines: No clue. Might be a Bug as well. The symbol `USB_C_Plug` also has them

[2020-03-19 10:49] cpresser commented on #2469
Sorry for the late answer, perhaps it still helps you (or other users with similar questions):

You can split it into units.

There are explicit rules for that.
https://kicad-pcb.org/libraries/klc/S4.3/
TLDR: Don't stack the positive supply pins in this case, GND must be stacked.

Make this one a fully specified symbol.
Other parts can be added as alias.

[2020-03-19 15:11] kagehisa commented on #2552
Alright I will give it a try.

[2020-03-19 19:03] cpresser commented on #2552
There are some instructions over here: https://kicad-pcb.org/libraries/contribute/

[2020-03-19 20:50] #2552 closed

[2020-03-23 17:17] HelixOnGit opened #2568 "Analog_Switch CD4053B : wrong pinout"
Pin 14 and 15 on "Analog_Switch">"CD4053B" are swapped (in/out "X" and "Y", respectively).

The corresponding models contained in "IEEE_4xxx" and "4xxx" are correct.

Application: Eeschema
Version: (5.1.5)-3, release build
Libraries:
    wxWidgets 3.0.4
    libcurl/7.66.0 OpenSSL/1.1.1d (Schannel) zlib/1.2.11 brotli/1.0.7 libidn2/2.2.0 libpsl/0.21.0 (+libidn2/2.1.1) nghttp2/1.39.2
Platform: Window

[2020-03-24 18:10] evanshultz commented on #2568
@HelixOnGit
I'm not seeing this. Maybe you can share what you're seeing.

Here is the current symbol:
![image](https://user-images.githubusercontent.com/1936989/77461461-d18bc280-6dbf-11ea-892d-5c755deabb60.png)

And the pinout from http://www.ti.com/lit/ds/symlink/cd4051b.pdf:
![image](https://user-images.githubusercontent.com/1936989/77461507-e49e9280-6dbf-11ea-884b-f9fe97c62138.png)
![image](ht

[2020-03-24 19:53] HelixOnGit commented on #2568
That is strange. Please note my submitted version of kicad. I had an earlier version installed before I moved to 5.1.5 -- maybe there was a hiccup with the replacement/reinstall procedure? I haven't built from the sources, but used the win64 installer.

The version you show is indeed correct. However I still get this picture:
![4053](https://user-images.githubusercontent.com/62563222/77470691-623e

[2020-03-24 20:15] chschlue commented on #2568
Fixed in https://github.com/KiCad/kicad-symbols/pull/2378

Why do we duplicate this in Analog_Switch, BTW?
I get that it is one, but I'd say it's first and foremost a 4000 series IC.

[2020-03-25 15:34] jneiva08 opened #2574 "MCP1623"
Hi,

I wish to add MCP1623/4, have found the MCP1640 is identical.
Should add new symbol or only add as aliases?

Thanks

[2020-03-31 14:31] ChaosinaCan opened #2595 "Analog_Switch ADG728 pin A1 should be input"
According to the [ADG728 datasheet](https://www.analog.com/media/en/technical-documentation/data-sheets/ADG728_729.pdf), A0 and A1 are address select pins but A1 is currently bidirectional:
![image](https://user-images.githubusercontent.com/760836/78038115-0f459980-7332-11ea-9111-7523316fa59a.png)

These should both be inputs, right?

[2020-04-01 17:33] evanshultz commented on #2595
@ChaosinaCan
Yes, they should both be Input type. Thanks for taking the time to report this issue, but in this case I think you have an outdated library. https://github.com/KiCad/kicad-symbols/pull/2565 fixed this problem and I verified the current library is correct. Since there is no issue I'm going to close this issue, but thanks for letting us know and we hope to see you again!

[2020-04-01 17:33] #2595 closed

[2020-04-03 02:38] yankee14 commented on #1526
@poeschlr @evanshultz I noticed that many of the symbols in the Device category are not on a 100 mil grid, for example Device-->D_Schottky or even Device-->R. Should I fix these and submit a pull request?

[2020-04-03 04:23] evanshultz commented on #1526
@yankee14
Nope. For one, changing those would hose up loads of schematics so definitely not now.

I believe https://kicad-pcb.org/libraries/klc/S4.1/ is supposed to capture this, but it's not. The reduction in pin length is clear but allowing 'simple' devices more leeway in pin grid isn't there. Perhaps the best way to capture this would be to state that 'simple' devices need pin spacing on a 100m

[2020-04-03 04:27] yankee14 commented on #1526
@evanschultz Yes it does, thank you. I guess I didn't realize whether the klc enforces all pins lying on the absolute 100 mil grid vs all pins relatively lying multiples of 100 mils from one another.

[2020-04-03 15:33] #2469 closed

[2020-04-05 14:42] aris-kimi commented on #2563
@cpresser I did a pull request for this. I hope it helped.

[2020-04-06 01:00] aris-kimi commented on #2574
Hi @jneiva08 it would be better to add this as an allias but with a clear description, similar to the parent item, in order to display differences.. It would be great to correct parent's item and others' aliases' description by adding the frequency as it is show at MCP1650.

But you better wait for someone else to advise further...

[2020-04-06 01:55] aris-kimi opened #2612 "Electrical symbols question"
Hi everyone,

I just saw [PR #514](https://github.com/KiCad/kicad-symbols/pull/514) about electrical motors, and i was thinking, is there a plan for a symbol library about electrical design? With items like circut breakers, switches, thermal protection and lots of others... Items without pcb footprint.

[2020-04-06 18:56] ChaosinaCan commented on #2595
I was using the libraries from the latest KiCad installer, which looks to be pretty out of date. After checking out the latest code from GitHub I can confirm that this is fixed. Thanks!

[2020-04-08 12:21] polwel opened #2622 "LTC4317 should be moved into `Interface_Expansion`"
The [LTC4317](https://www.analog.com/media/en/technical-documentation/data-sheets/4317fa.pdf) is an I2C adress translator with two downstream ports.

Arguably it would be a better fit for the `Interface_Expansion` library than `Interface` where it currently lives. `Interface_Expansion` contains a number of I2C multiplexers and switches, in particular also the LTC4314.

The discussion originated in

[2020-04-08 12:25] cpresser commented on #2622
Fun fact: I added that part  https://github.com/KiCad/kicad-symbols/pull/2195 (with my work-account)

**A PR for this should not be made until we are nearing a v6.0 release.**
 If we do a PR now it will most likely have to be re-based because of conflicts.

[2020-04-08 18:16] hildogjr commented on #2446
A implementation to better behavior is being discussed at https://gitlab.com/kicad/code/kicad/-/issues/4049

[2020-04-08 18:18] hildogjr commented on #2115
A implementation to better behavior, keeping some symbols always up-righted,  a discussion for implementation had start at https://gitlab.com/kicad/code/kicad/-/issues/4049

[2020-04-08 21:49] diegoherranz commented on #2520
On type-C, the TX/RX pairs are bidirectional because they can be repurposed for Alternate Modes using Power Delivery, for instance Display Port, and in that case the direction can change. I think those need to stay as bidirectional.

On the USB3_A and USB3_B, however, I think they could be defined as input/output.

[2020-04-09 13:37] saviocmc opened #2623 "Issues with QRE1113 and QRE1113GR symbols and footprint associations"
First of all, thank you all contributors very much for this awesome library!

Reference
-----------
The issues I found are related to the *Reflective Optical Sensors* **QRE1113** and **QRE1113GR** (same sensor with different leadform options), found in the library **Sensor_Proximity**.
Datasheet: https://www.onsemi.com/pub/Collateral/QRE1113-D.PDF

They are currently declared in the the [Sensor_Pr

[2020-04-09 14:36] chschlue commented on #2623
I'm inclined to say that Everlight's numbering is definitely asinine (pin 2 mark anyone?).
That being said, we already have similar cases. The TO-92 footprint is numbered left to right, for example, while some manufacturers number their TO-92 parts right to left, leading to apparently wrong symbols.
In this case, I'd vote for adding an Everlight-specific FP using Everlight's numbering (because it'

[2020-04-09 16:36] saviocmc commented on #2623
@chschlue thanks for the quick answer.

I agree. The [current SMD FP](https://github.com/KiCad/kicad-footprints/blob/master/OptoDevice.pretty/OnSemi_CASE100CY.kicad_mod) assigned to the SMD version of these devices is using the ON numbering (with pin 1 mark), so another one should be created for the ITR1201SR10AR using the Everlight's numbering.

On the other hand, the [current Through Hole FP](ht

[2020-04-09 17:21] chschlue commented on #2623
LGTM

[2020-04-11 00:58] serkanxselcuk commented on #1164
How would you think of following suggestion for v6:
- New field ¨man¨ for manufacturer
- New field ¨mpn¨ for manufacturer product number and is same with symbol name in most cases.
- New field ¨sub¨ for substitute (yes/no)
- Manufacturer in symbol name would not more needed, if they have same pin names. (I don´t know any device with same name but different pin names.)

Because PCB manufacturers as

[2020-04-12 11:24] aewallin commented on #955
maybe the KLC-check scripts should be re-run on the entire library, because it's been a while since September 2018 when this issue was created?

[2020-04-14 07:45] EAjonb opened #2641 "Issue with MAX13433EETD, Incorrect footprint association"
Symbol is currently linked to the DFN-14-1EP_3x4_P0.5 Footprint but should be DFN-14-1EP_3x3mm_P0.4mm_EP1.78x2.35mm

[2020-04-14 19:43] JacobEFO commented on #2641
Seems like you're right.

The symbol MAX13432EETD and its alias MAX13433EETD both link to Package_DFN_QFN:DFN-14-1EP_3x4mm_P0.5mm_EP1.7x3.3mm, which is incorrect.

Link to [datasheet](https://datasheets.maximintegrated.com/en/ds/MAX13430E-MAX13433E.pdf)
Link to [footprint](https://pdfserv.maximintegrated.com/package_dwgs/21-0137.PDF)

Maybe you want do a pull request for the fix?

[2020-04-17 20:48] TheJustMoose opened #2650 "74LS139 incorrect pin numbering"
There is some problem with 74LS139 symbol (IEEE).
I think it has incorrect pin numbering.
Pin 2 and 3 mixed up. Pin 13 and 14 too.

[2020-04-18 04:20] chschlue commented on #2650
Theoretically fixed in #2162 and included in 5.1.5. Closing.

Please reopen if there's still an issue.

[2020-04-18 21:49] TheJustMoose commented on #2650
Bug is still there.
I think that 74LS139 is not 74LS193.

[2020-04-18 21:52] TheJustMoose commented on #2650
Sorry, I do not see 'reopen' button.

[2020-04-19 03:46] chschlue commented on #2650
Oops, read it wrong.

[2020-04-19 07:28] poeschlr opened #2656 "5.1.6 release date will be May 15th"
See source code freeze announcement https://lists.launchpad.net/kicad-developers/msg43665.html

---

Please add pull requests as comments that you want to be included such that we know where to focus our resources.

I personally try to get around to finally check out https://github.com/KiCad/kicad-footprints/pull/1586

[2020-04-19 07:49] chschlue commented on #2656
I usually add bugfixes and such to the next milestone to keep track.
Isn't that what we have them for?

Another question: kicad-source on GL has a 5.1.7 milestone but I couldn't find anything about another planned 5.1 release on the dev mailing list. Do you know more?

[2020-04-19 08:15] myfreescalewebpage commented on #2305
Correct

Probably it will be exclusive. I think we can imagine there will be 3 symbols: one for each connector solution, and a third one with both connector, but I have doubt about the footprint for the last one...

[2020-04-19 14:27] #2650 closed

[2020-04-19 14:29] stambaughw commented on #2656
There will most likely be a 5.1.7 release before V6 is release.  We are hoping to implement the V6 feature freeze by KiCon 2020 and release by the end of the year.  This will leave plenty of time to release another 5.1 branch bug fix between now and then.

[2020-04-19 14:40] chschlue commented on #2656
This also leaves little time to migrate the libs to GL, to v6 and get rid of quite a bunch of technical debt.

[2020-04-19 14:40] evanshultz commented on #2656
Yeah, I would like to target resolving all known bug issues and PRs also for each release. Status now:
- Symbol issues [15]: https://github.com/KiCad/kicad-symbols/issues?q=is%3Aopen+is%3Aissue+label%3ABug
- Symbol PRs [8]: https://github.com/KiCad/kicad-symbols/pulls?q=is%3Aopen+is%3Apr+label%3ABug
- Footprint issues [20]: https://github.com/KiCad/kicad-footprints/issues?q=is%3Aopen+is%3Aissue+la

[2020-04-19 17:33] diegoherranz commented on #2656
Let me have a look at https://github.com/KiCad/kicad-footprints/pull/1145. I should have some time now.

[2020-04-20 22:05] evanshultz commented on #2656
@poeschlr
I also consider https://github.com/pointhi/kicad-footprint-generator/pull/438 to be a bug. We are claiming IPC7351 footprints, using IPC-SM-782 size definitions where available, but I found that R, L, and C parts have different body sizes which the generator was assuming they were all the same. If you could check the script and confirm the changes are OK, I will resolve conflicts on that

[2020-04-21 19:52] martinjankoehler opened #2662 "LM4040 TO-92 pinout wrong"
The pinout for the LM4040 TO-92 THT parts is wrong (see picture).

Data sheet: http://www.ti.com/lit/ds/symlink/lm4040-n.pdf (see page 4)

![7886952E-5965-498A-A8DF-F4175A987FB7](https://user-images.githubusercontent.com/29398377/79907687-4c291b80-841a-11ea-977c-d767fe67fffc.jpeg)

[2020-04-21 19:57] chschlue commented on #2662
Confirmed.
Are you willing to submit a fix?

[2020-04-21 21:33] martinjankoehler commented on #2662
OK, I've created PR #2663

[2020-04-22 11:08] #2662 closed

[2020-04-22 13:17] martinjankoehler commented on #2662
Sorry, mea culpa: #2664

[2020-04-24 10:36] poeschlr commented on #2656
@evanshultz i think the EP size stuff has not yet been started at all. A few footprints will therefore still have the wrong sizes. (Wrong in the sense of they use the maximum size of the datasheet but the size agrees with the footprint name so the user sees it easily)

[2020-04-24 12:03] heaton84 opened #2668 "74LS241 incorrect gate symbol on pin 19 / OEb"
The default library has an inverted input for both output enable pins (1 / OEa and 2 / OEb), however in the '241 only OEa is inverted.

Refer to section 8.2 on the datasheet: http://www.ti.com/lit/ds/symlink/sn74ls241.pdf

This was an easy fix for me, just passing along so it can make its way into the official library someday.

[2020-04-24 13:59] chschlue commented on #2668
Confirmed.
The current symbol is correct for its alias 244, however, so it has to be split in two separate symbols.

Are you going to submit a fix?

[2020-04-24 15:00] cpresser commented on #2574
I gave it a quick look and can confirm that @aris-kimi is right.
The Pins and package-configuration matches, so an alias is the way to go.

[2020-04-24 15:00] #2574 closed

[2020-04-24 15:01] cpresser commented on #2474
I am closing this since I consider the question answered. If not, please reopen.

[2020-04-24 15:01] #2474 closed

[2020-04-24 15:04] cpresser commented on #2300
Sometime there is also a default-pinout. In this case a specialized symbol does make sense.
Example: https://github.com/KiCad/kicad-symbols/pull/2613

[2020-04-24 18:36] chschlue commented on #2656
I think https://github.com/KiCad/kicad-footprints/pull/2072 would be ready to go if it weren't for https://github.com/pointhi/kicad-footprint-generator/pull/474.
@poeschlr since you merged that one, what are we going to do with it? (see also https://github.com/KiCad/kicad-footprints/pull/2072#issuecomment-579425699)

[2020-04-25 23:18] poeschlr commented on #2656
I introduced a minor fix for unifying the pin 1 markers of DFN footprints https://github.com/KiCad/kicad-footprints/pull/2244

[2020-04-26 06:30] poeschlr commented on #2656
@evanshultz your script changes for differentiating R/L/C sizes is generally ok. However, a final verdict requires checking if only the intended footprints change when running the script. (Which means a footprint pull request is required)

[2020-04-26 06:50] poeschlr commented on #2656
Oh and if i can be selfish, i would like the solder wire stuff (https://github.com/KiCad/kicad-footprints/pull/2062) to be merged soon as it would allow me to simplify two tutorials on the forum.

[2020-04-26 18:19] evanshultz commented on #2656
KiCad/kicad-footprints#2244 has been merged.

@poeschlr
I left comments at pointhi/kicad-footprint-generator#438 and, once those are resolved, will make a footprint PR. Thanks for taking a look at that one!

[2020-04-27 00:24] aris-kimi opened #2672 "US1A-US1M Described as Schottky Barrier Rectifier Diode"
Hi everybody.

US1A-US1M Diodes are described as Schottky Barrier Rectifier Diode but in the datasheet doesn't mention Schottky. It does mention Ultra-Fast recovery time though, i think this should change to General Purpose.
I am on my way to add US2xx and i think all those should end up as an alias for MRA4003T3G.

Is this ok to proceed?

[2020-04-27 02:58] chschlue commented on #2672
Confirmed.

[2020-04-27 05:04] evanshultz commented on #2672
Assume you meant parts at https://www.diodes.com/assets/Datasheets/ds16008.pdf.

Confirmation is above, and to add to that they should be fine to be an ALIAS of https://www.onsemi.com/pub/Collateral/MRA4003T3-D.PDF.

[2020-04-28 03:08] #2672 closed

[2020-04-28 15:08] jjohnson873 opened #2680 "4082 Symbol Library Error"
Using Kicad version 5.1.5 and pulled the schematic library symbol for a 4082 “4000 series” logic device. The Kicad library 4082 “A” symbol has pins 2, 3, 4, 12 as inputs and pin 1 as an output. Pin#12 should be corrected to be pin #5. Confirmed with datasheet that the correct input pins to this 4-input AND gate should be pins 2, 3, 4 and 5.

[2020-05-01 19:21] chschlue commented on #2680
Confirmed, thanks.

[2020-05-01 19:28] #2680 closed

[2020-05-03 19:25] alexisvl opened #2694 "74LS109: incorrect polarity on K input"
74LS109 is [dual JK with inverted K](https://assets.nexperia.com/documents/data-sheet/74HC_HCT109.pdf), but 74xx:74LS109 shows noninverted K.

[2020-05-03 19:57] chschlue commented on #2694
Confirmed.
Are you willing to submit a fix?

[2020-05-04 16:40] poeschlr opened #2697 "It seems the new file format is now available. I suggest we start our testing phase."
https://forum.kicad.info/t/new-schematic-and-symbol-library-file-formats-are-now-the-default/22655

I would like for us librarians to experiment with the new file format. The first thing would be to try and convert our library over and report any issues that we notice (For now just in a local copy of the lib as i supsect there will be bugs)

Once we are confident that the conversion works we might

[2020-05-04 16:50] chschlue commented on #2697
FYI, I'm in the process of pushing converted libs to https://gitlab.com/chschlue/kicad-symbols/-/tree/v6 and am planning to play around with them afterwards.

[2020-05-04 16:52] stambaughw commented on #2697
FYI, you can load both versions of the library by adding a new entry in either your global or project library tables by just giving the library a new library nickname to the new symbol library file format.  I used a simple "-sexpr" suffix during development so I could easily tell whether I was working with a new or legacy file formats.  In the short term, you will be able to "Save As.." between fi

[2020-05-04 16:57] chschlue commented on #2697
FWIW, my current setup is having my "normal" repo in, say, ~/kicad-symbols and an additional v6 worktree in ~/kicad-symbols-v6 with 5.99 KICAD_SYMBOL_DIR set to ~/kicad-symbols-v6.
Don't know if that's a sensible way to be able to work with both in parallel yet.

[2020-05-04 17:05] poeschlr commented on #2697
I personally have a project with the libs added as project specific but with a prefix to the nickname (i use prefix 00dev_).

[2020-05-04 19:34] chschlue commented on #2697
Should be working. Anyone care to pull and check for errors?

[2020-05-05 02:10] alexisvl commented on #2694
Sure, I can get it

[2020-05-05 02:13] alexisvl commented on #2694
aargh, never mind — looks like the build I'm running can't save the modified symbol, something must have been broken when the new format stuff was added. I don't really have time to revert and rebuild right now.

[2020-05-05 02:14] alexisvl commented on #2694
...nope, actually it saved it correctly and _then_ crashed. Apologies for the noise, will open PR in a moment

[2020-05-05 02:48] #2694 closed

[2020-05-06 09:27] chschlue commented on #2697
@stambaughw is there any kind of central discussion thread on format changes? I have only been able to find bits and pieces on GL, LP, the forum and so on so far.

[2020-05-06 09:37] chschlue commented on #2697
To clarify: The symbol spec at https://docs.google.com/document/d/1lyL_8FWZRouMkwqLiIt84rd2Htg4v1vz8_2MzRKHRkc/edit seems to be well beyond current UI capabilities, for example, and I couldn't find anything regarding footprint library changes (FPs are already S-expr, of course)

[2020-05-06 11:25] stambaughw commented on #2697
@chschlue The symbol file format discussion was done a very lone time ago and the symbol library file format is based on that discussion with a few minor changes to add things that were missed.

The new file format features for which there are no UI access in symbol library editor will be implemented as time allows.  The initial goal is to get the current feature set stable and start adding the ne

[2020-05-06 15:41] chschlue commented on #2697
It looks like GL doesn't allow me to make that repo publicly accessible as long as it's a fork, so I re-pushed to https://gitlab.com/chschlue/kicad-symbols-v6.

BTW, are there plans to actually give write access to the libs on Gitlab to mortal librarians?

[2020-05-06 15:57] poeschlr commented on #2697
It does not make sense to transition to gitlab until we have CI running over there. So i guess we will stay on github for a while

[2020-05-06 16:03] chschlue commented on #2697
Well, being able to tinker around over there, set up demos like the one above, get used to the UI and such does make some sense to me.

Or do you prefer doing everything on your own?

[2020-05-06 16:31] poeschlr commented on #2697
You asked when we will open the official gitlab versions and the above is the answer to that question.

[2020-05-06 16:48] chschlue commented on #2697
We don't have to actually use the future "production" repos. The ones we use for testing won't even have to be publicly accessible if that helps to avoid confusion.
But it looks to me like we'd need some actual data for v6 scripts to work and be tested on (like the converted libs I provided above) and I don't get why everybody should do every step all over again, so why aren't we going to do it un

[2020-05-06 19:45] poeschlr commented on #2697
I am prepared to go along with a move to gitlab, but we really need a benefit that makes it worth the effort. (Github and gitlab basically have the same feature set. So the benefit to our workflow is questionable. It will however definitely require considerable effort on our part.)

Currently, i feel we don't really have the resources to handle our normal workload. I struggle to see a way to handl

[2020-05-06 20:03] poeschlr commented on #2697
@chschlue i also don't understand why you should not have access to the library repos on gitlab. You are a member of the librarian group and that group is a member of the library repos. I elevated you to maintainer in the librarian group maybe this helps

[2020-05-06 20:28] chschlue commented on #2697
I don't know all the details of Gitlabs permission system. What I know is that I wasn't able to open / close / edit MRs before or anything like fiddling around with Gitlab CI.
But that's not important anymore if we finally aren't going to transition to GL for v6.

I just figured there can't be any real gradual transistion to new formats anyway, so we were going to freeze v5 libs at some point and

[2020-05-06 20:39] chschlue commented on #2697
What I think needs to be done on the CI sid: (correct me if I'm wrong)

1. Be able to parse S-expr symbols (mods are already S-expr)
2. Adapt rules and scripts to fit v6 capabilities
3. Transfer from Travis to GL CI

Two appears to be the most time consuming by far, which is why I don't really get that 3 should be the part that's going to break our necks.
I'm not keen on transferring to Gitlab by

[2020-05-06 20:40] poeschlr commented on #2697
I doubt we will freeze right after 5.1.6 but do not believe we can wait till 5.1.7.

Tasks that i think need to be done before that:
- [ ] find out if we have missing features to do our work (are there some symbols that can not be represented in the new system)
- [ ] decide if we want/need to adapt the KLC for the new file format (requires us to understand the file format and especially the interf

[2020-05-06 20:51] poeschlr commented on #2697
If we can get it done then i am ok with it. I would however give it a quite low priority.

---

Also symbols are only half the picture. There is no reason why footprint or 3d model pull requests would need to be interrupted. So a transition to gitlab would definetly negatively impact this part of the library.

---

And yes until recently i had planned that we combine the v6 release with the transi

[2020-05-06 20:59] poeschlr opened #2705 "The version 6 wishlist"
This issue is here for every user and maintainer to add their wishes of how the library should change for the v6 release. There is no guarantee everything will be implemented but lets collect ideas here.

---

I suggest as deadline end of may until we make a decision which of the suggestions to target and with what priority. The first post will in the end be edited with the final rating

[2020-05-06 21:09] poeschlr commented on #2705
My first ideas:
symbols
- Get rid of invisible power input pins for all symbols except maybe power symbols (such symbols should not create global labels)
- If the new file format has a better alternative to hidden power input pins for power symbols then use that instead
- Rework the switch and relay libs to use standardized pin "numbers" (11,12,14; 21,22,24; A1,A2...)
- Use the new naming conventi

[2020-05-06 23:12] calebreister commented on #2705
I have a few ideas, though some of them may be beyond the KiCad library scope.

Symbols:
- Fix alignment issues with analog switches, provide additional aliases.
- Add an alternate function mechanism to allow pin names to changed for symbols such as microcontrollers. For instance, a user could select an alternate function by right clicking on a pin and selecting it. This could also improve rule ch

[2020-05-07 05:02] poeschlr commented on #2705
There already is a strict guideline about that. https://kicad-pcb.org/libraries/klc/M1.1/ I mean the word "should" is really a "must" but well that is a general problem of the klc. (we were too polite when we wrote it)

[2020-05-07 08:38] chschlue commented on #2697
That's the main reason why I pushed a simple conversion to https://gitlab.com/chschlue/kicad-symbols-v6. It would be great if people could just pull that, skim over it, try to use it with their own project they happen to have lying around on a 5.99 nightly, do whatever, just too weed out obvious issues as a first step.
I can also push that to GH if that makes it easier, there's just no point in ha

[2020-05-07 09:20] chschlue commented on #2705
Symbols
----------
General:
Not sure what to do with the new format yet, especially reagarding derived symbols. Requires further testing (and playing around).
Special:
I'd like to put Comparator, Amplifier_Operational and Interface_UART libs on my personal to-do list.

Footprints
------------
RFC:
Try and reduce FP duplication. This especially pertains to QFN and SO libs @poeschlr already mentione

[2020-05-07 15:30] poeschlr commented on #2705
To be honest i would like to completely get rid of manufacturer specific QFNs (and similar). This is simply legacy stuff as we did not really have a full naming convention back when these got added (and we did not have an IPC generator either, so we used the datasheet suggested footprint which differed for the same package).

The manufacturer specific names could go into the keyword field. That wa

[2020-05-07 16:15] chschlue commented on #2705
Not yet, but that's not set in stone if I understood @stambaughw correctly.

[2020-05-07 16:22] chschlue commented on #2705
True. I actually came up with that idea sifting through generator size definitions and then forgot that it doesn't with their output like that.
Semi-OT: The generator might profit from inheriting base size definitions.

[2020-05-07 16:30] chschlue commented on #2705
This only makes sense if the "vulgar" names are top level as well, as would be the case with alias names.
Otherwise, `QFN-24-1EP-H0.8mm` as you suggest totally makes sense to me, getting rid of mix and match T, W, V, U... prefixes.
We might also want to consider dropping H prefixes for thermally enhanced versions. For QFN, a heat slug is the default anyway and `SOIC-16-1EP` or `TSSOP-24-1EP` alrea

[2020-05-07 20:56] #2641 closed

[2020-05-08 07:56] chschlue commented on #2623
@saviocmc Are you still on this?

[2020-05-08 08:51] chschlue commented on #2705
Addition to my symbol wishlist:
Would it make sense to have some kind of normally-invisible (i.e. only visible in libedit) template-only (abstract, if you will) symbols for things like consistent triangle shapes in Amplifier_Operational, for example, which all implementations in that lib inherit from?

[2020-05-08 13:27] saviocmc commented on #2623
@chschlue I got busy the past few weeks, but can I manage to submit a PR this weekend.

[2020-05-09 12:10] chschlue commented on #2656
State of the libs with a week to go:
https://github.com/KiCad/kicad-symbols/milestone/11 8 open, 1 unassigned, 1 assignee possibly inactive
https://github.com/KiCad/kicad-footprints/milestone/7 10 open, 3 unassigned, 1 assignee possibly inactive
https://github.com/KiCad/kicad-packages3D/milestone/6 0 open
https://github.com/KiCad/kicad-templates/milestone/5 1 open, 1 unassigned

(I added everythin

[2020-05-09 19:54] aris-kimi commented on #2705
I want to mention symbols that do not have a PCB footprint, this seems like a more appropriate place for this question, something like IECs' symbols for generic electrical designs. Any thoughts??

[2020-05-10 05:29] chschlue commented on #2705
3D models:
---------
3D to FP mapping. Proposed at https://github.com/KiCad/kicad-packages3D/pull/280. Launchpad wishlist item https://bugs.launchpad.net/kicad/+bug/1766323 apparently didn't make it over to GL.

[2020-05-11 17:16] poeschlr commented on #2656
Yesterday @stambaughw posted to the mailing list that everything shall be tagged by today such that the packagers have a week to get everything done. I will now check the symbol libs for problems and if there are no major design breaking changes then i will create the tag.
The remaining issues will have to wait for 5.1.7 or for version 6 depending on how exactly we decide to handle the next few mo

[2020-05-11 17:24] chschlue commented on #2656
@poeschlr please give me a couple minutes to check something that just came up today.

[2020-05-11 17:33] poeschlr commented on #2656
Is ok, just ping me (i will still check what we have so far, your change will hopefully not fully change the lib)

[2020-05-11 17:38] chschlue commented on #2656
Not a huge deal, really. Just https://github.com/KiCad/kicad-symbols/pull/2718.
After https://github.com/KiCad/kicad-symbols/pull/2539 got merged, https://github.com/KiCad/kicad-symbols/pull/2708 which adds the rest of the family brought about that one symbols was named wrong.
Would be a pity if we we were stuck with if it's released, that's all.

[2020-05-11 17:38] chschlue commented on #2656
Sry, ping @poeschlr

[2020-05-11 17:44] chschlue commented on #2656
I would always assume UTC if no timezone is given. We probably even have until the early morning, @stambaughw's midnight is pretty late, I think ;)

[2020-05-11 18:37] poeschlr commented on #2656
# Analysis of Symbol lib
## Removed (or renamed) symbols
- `Interface_USB.lib:FT2232H`
  - Split QFP and QFN version https://github.com/KiCad/kicad-symbols/pull/2420
- 555 clean up https://github.com/KiCad/kicad-symbols/pull/2429
  - `Timer.lib:LM555`
    - (and its aliases `ICM7555`, `MC1455`, `TLC555CD`, `TLC555CP`, `TLC555CPS`, `NA555`, `NE555`, `SE555` and `SA555`)
  - `Timer.lib:TLC555`
  - `

[2020-05-11 18:50] evanshultz commented on #2656
The 'Wrongly reported as removed' section is OK. See comments in the PR.

I feel it's a shame that we now have nice DIN 41612 footprints but not corresponding symbols. If the library can wait to be tagged for 24 hours I will plan to generate them by then.

Also, I would really like to get https://github.com/pointhi/kicad-footprint-generator/pull/438 merged since it's a bug, IMO, but I haven't had

[2020-05-11 19:02] poeschlr commented on #2656
There will always be things that would be nice to get in especially shortly before a release. There will be future releases so the work will not be lost ;)
I will try to help you with untangling the footprint generator fixes sometime this week. Depends a bit how stressful work is. (One of my responsibilities at work is to fixup git problems of others so i have gotten a lot of experience lately)

B

[2020-05-11 19:33] nickoe commented on #2656
@poeschlr If you think some hints are needed for the release announcement about the library, please add them to https://github.com/KiCad/kicad-website/blob/master/content/blog/release-5.1.6.adoc

[2020-05-11 19:38] stambaughw commented on #2656
Nick,

The blog post title still says 5.1.5.

Cheers,

Wayne

On 5/11/20 3:34 PM, nickoe wrote:

[2020-05-11 20:01] #2668 closed

[2020-05-11 20:08] poeschlr commented on #2656
@nickoe if you want you can link to the diff logs i also link in the release page (for symbols only). But i am not aware that we did that for past releases.

[2020-05-11 20:16] nickoe commented on #2656
@poeschlr We have done it for some. If you (the librarians) want to and have something semiautomated it could make sense to show it at every release. For example in https://kicad-pcb.org/blog/2017/03/KiCad-4.0.6-Stable-Release/ we listed some renames... If you don't think it makes sense in this case, we will just stick with the generic point release format as we have now.

[2020-05-12 11:51] nickoe commented on #2656
@poeschlr @cpresser Related to this is  https://lists.launchpad.net/kicad-developers/msg43785.html

[2020-05-14 21:21] jneiva08 opened #2725 "Best place to put"
I like to know where should be the best place to add the following IC

Datasheet: https://www.nxp.com/docs/en/nxp/data-sheets/PN532_C1.pdf

Thanks

[2020-05-15 05:02] chschlue commented on #2725
The closest match would be RF_RFID, I think.
OTOH, a new lib RF_NFC doesn't seem far-fetched, either.

[2020-05-15 12:01] svollenweider opened #2732 "Temperature_Sensors -> MCP9804_DFN has wrong package"
The MCP9804_DFN has the wrong package (3x3 DFN). The correct package would be

Package_DFN_QFN:DFN-8-1EP_3x2mm_P0.5mm_EP1.3x1.5mm

[2020-05-15 12:37] chschlue commented on #2732
Confirmed.

The current package is completely wrong. However, neither your suggestion nor `DFN-8-1EP_3x2mm_P0.5mm_EP1.75x1.45mm` which we have for [Microchip's MC package](http://ww1.microchip.com/downloads/en/DeviceDoc/8L_DFN_2x3x0_9_MC_C04-123C.pdf) is completely correct.
Both are within the EP tolerance and so are both acceptable, but the best solution would be to generate a new footprint using

[2020-05-15 13:37] svollenweider commented on #2732
Hey
I added a package with a 1.4mm x 1.7mm Base under this pull request

https://github.com/KiCad/kicad-footprints/pull/2284

[2020-05-15 13:51] chschlue commented on #2732
Yes, absolutely.
In fact, we generally trust the generator's correctness and actually check its input instead of its output to review scripted FP additions.

[2020-05-15 13:55] svollenweider commented on #2732
Here you go

[2020-05-15 14:05] chschlue commented on #2732
Thanks.

[2020-05-17 00:59] yankee14 commented on #2705
@poeschlr I am starting a design and need a 74x series part, and was pleased to see it already exists in the library. I was confused by the invisible power pins. I could submit a PR that fixes the single part I was planning to use according to the KLC? I would also be happy to go through all the 74x series parts and fix them, and submit that as a PR? Or do you guys plan to fix this issue throughou

[2020-05-17 04:52] chschlue commented on #2705
The problem with these symbols is that their invisible power pins create global `VCC` and `GND` labels, "wirelessly" connecting them to whatever net called ´VCC´ or ´GND` you happen to have. Meaning making them visible is enough to break existing designs.
So don't bother with ugly visible power pins, v6 logic symbols may as well have handsome pins.

[2020-05-17 05:52] yankee14 commented on #2705
@chschlue Ah I didn't realize it was setup like that, that's unfortunate. Should they be made legacy or something? What can I do to fix them?

[2020-05-17 06:26] chschlue commented on #2705
Break all the things!
No, seriously, if you want to take up the logic libs, convert them to "normal" power pins.

Cleaning up those libs is a lot of work but fortunately, not many changes are expected during the v5 release cycle.
It may be worth converting them to v6 format even before v5 libs are frozen (on their own branch of course) because the v6 format should be able to solve some issues with

[2020-05-17 14:22] evanshultz commented on #2705
Where we will have new symbols or new libraries to replace existing ones, is there a scheme to capture that? Could we append the existing name with `_v6` (so `74xx.lib` becomes `74xx_v6.lib`) to keep both in the library for now, and then track those all in an issue so we can cut over to the new stuff at the first v6 RC or whenever the time is right? My thought is that it would be nice to have them

[2020-05-17 14:29] evanshultz commented on #2705
I had written the above down over several days and missed the most recent comments above. There has been a lot of discussion about the logic libs already, and two attempts to script them by a couple other contributors. My plan is to pick up from where those initiatives left off and finally get it done. While small manual, incremental updates could be done I don't think that really is going to get

[2020-05-17 14:51] chschlue commented on #2705
I suggest a `v6` branch parallel to `master`. We can freeze v5 at some point by branching out `v5` followed by merging `v6` into `master`, adding `*.kicad_sym` files and deleting `*.lib` and `*.dcm`
That way, we avoid cluttering `master` up with `74xx_v6.lib` and later `74xx_kicad_sym`.
Thoughts?

IMO, we need to start some v6 changes before 5.1.7 is released.

[2020-05-17 14:52] chschlue commented on #2705
@evanshultz you may want to talk to @yankee14 and take a look at #2738

[2020-05-17 17:09] StormTrooper opened #2740 "74LS09 outputs not open collector"
The output of 74LS09 should be  open collector as per the datasheet.

https://www.ti.com/lit/ds/symlink/sn74ls06.pdf

In the symbols library the 4 outputs are not set to open collector.
![properties](https://user-images.githubusercontent.com/1429043/82154964-5ac3f080-9869-11ea-989f-0502be477538.png)

![output](https://user-images.githubusercontent.com/1429043/82154977-7b8c4600-9869-11ea-8410-99fc2

[2020-05-17 18:30] yankee14 commented on #2705
KLC wishlist:

1. In previous symbol PR's, I have been asked to put the reference designator on the left side and the value on the right. I think the reference designator should be placed on the right side of components, and the value on the left. This is because the length of the value is fixed and unlikely to change very much, so is unlikely to need to be moved so that the string doesn't crash i

[2020-05-18 03:36] evanshultz commented on #2705
@chschlue
That's right! The file extension is different. Yeah, that makes things easier whichever way we go.

@yankee14
This was done because the library colloquially put reference on the left and value on the right. Justification can be set for each piece of text so it should be OK to continue this. And it's something to consider adding to KLC, if Rene approves it. That all being said, those text

[2020-05-18 06:00] evanshultz commented on #2740
Confirmed.

'LS08 is the symbol and it does have push-pull outputs. So that's fine. See https://www.ti.com/lit/ds/symlink/sn74ls08.pdf?&ts=1589781457949.

But 'LS09 is an ALIAS to 'LS08 but it shouldn't be because it does have open-collector outputs. See http://www.ti.com/lit/ds/symlink/sn74ls09.pdf?&ts=1589781485392.

The solution is to copy the 'LS08 symbol, rename it so 'LS09, change the output

[2020-05-19 05:30] #2740 closed

[2020-05-19 16:49] bobc commented on #2705
Just an FYI: over 2 years ago I added preliminary support to symgen to support the "new" s-expression format. Now that the KiCad code is catching up, I have updated symgen with latest version of spec. It's still incomplete, but the gist is there. There's a CLI option to select it.

Unfortunately I can't test it with KiCad, because KiCad developer didn't follow his own spec! Whether this is tempora

[2020-05-19 17:29] chschlue commented on #2705
Symbols
--------
Allow(/encourage/require) LaTeX-style _{subscripted} (and ^{supercripted} when appropriate (probably rare)) pin names.

Ex.
![IR2111](https://user-images.githubusercontent.com/40901018/82358621-0d7d8580-9a07-11ea-86df-25142759438d.png)

[2020-05-19 17:34] bobc commented on #2705
That would require changes to KiCad code, surely this thread is about changes to KiCad libraries (ie data)?

[2020-05-19 17:37] chschlue commented on #2705
This is live in kicad-master already.
Besides, who says the lowly library team can't ask the devs for features?

[2020-05-20 11:24] bobc commented on #2705
Oh cool. There's a couple of places where I could have used subscripts.

[2020-05-20 19:09] poeschlr commented on #2705
I am not sure if this is already recorded. Since version 5.1 there seemed to be a 3d search path feature. I think i requested an explanation of it on the mailing list but never got an answer. We might again look into that one for v6.

[2020-05-20 19:11] poeschlr commented on #2705
@chschlue regarding branching i would go the other way round. Branch away version 5 and develop v6 on master. This would be the same way as is done with the source code (I doubt the v5 branch will then get many more changes. I would say we will limit it to fix critical bugs as we really don't have the resources to handle supporting two such different systems).

[2020-05-20 20:32] chschlue commented on #2705
@poeschlr for "real" v6 development, of course.
I only suggested we do it the other way round if we were going to start partial v6 transitions like with the logic libs for example (where no substantial additions are to be expected) _before_ we freeze v5.

Whatever we're going to do, I don't think generally accepting PRs against anything but `master` is going to end well. So yes, whenever we offici

[2020-05-22 06:59] poeschlr commented on #2705
@chschlue I suspect we will freeze the lib very soon assuming the timeline is still to have a releasable version by kicon-2020.

---

Back to topic, the inductor lib does currently not follow the naming convention for all of its assets (a lot of footprints are missing the body size specifier)

[2020-05-29 17:12] dlcflv opened #2761 "ADC LTC1864/LTC1865 and LTC1864L/LTC1865L"
There is a (very small, indeed) error in the description of these devices in the Analog_ADC.dcm file.
These are SAR (successive approximation), not sigma-delta, ADC.

[2020-05-30 15:16] aris-kimi opened #2768 "STGIPSxxxxx Design help"
Hi everyone.

I'm about to add those ic's but i need some guidance about an appropriate symbol appearance.. I think from those three topologies the first is the best, or the third...

I am going to add this under Driver_Motor lib.

![stgips](https://user-images.githubusercontent.com/48727784/83331810-e6de0b00-a2a0-11ea-9c4c-efae429c8647.jpg)

[2020-05-30 17:58] klepklep17 commented on #2200
Many times NXP uses extension as an other version of the packages. The BFR92 is technologically probably the same as the BFR92AW only in an other package.

You could refer to the BFR92 version of Vishay. It seems the almost the same.

[VISHS63618-1.pdf](https://github.com/KiCad/kicad-symbols/files/4706176/VISHS63618-1.pdf)
[BFR92_PhilipsSemiconductors.pdf](https://github.com/KiCad/kicad-symbols/fi

[2020-05-31 06:57] NewFork17 commented on #2249
Hi Poeschlr,

I have also read your forum input. I think this is not a bug, rather a situation where TI does not apply enough information how to use the part related to the NC connection. Therefor even if possible KiCad can't provide a perfect solution for this.  The suggestion made in the forum about changing  the part according your own needs is the best answer I think.

I would consider to clos

[2020-05-31 19:54] evanshultz commented on #2768
https://www.st.com/resource/en/datasheet/stgips10c60.pdf is one datasheet.

The first will make the bootstrap caps awkward to wire up.

The last is the best of the above, IMO. But putting CIN on the right side would make it even better. And the OUTx pins could be Output type.

Additionally, page 14 of the datasheet above is another pin layout that looks good to me. I might even like it better than

[2020-05-31 21:11] aris-kimi commented on #2768
I have made some changes to all so they can easily be exchanged. I think i should create a new lib though, named IGBT_Module, and put them in there instead of Driver_Motor, is this ok??

![stgips](https://user-images.githubusercontent.com/48727784/83362751-4f5de280-a39c-11ea-814d-dedd0fec8579.jpg)

[2020-06-04 01:46] na-g opened #2779 "Where to place WDC65C02S and WDC65C816S MPUs"
These are two MPUs from WDC that are still in production, http://archive.6502.org/datasheets/wdc_w65c816s_oct_11_2018.pdf. What would the best place for those be? For example `CPU/WDC65C02S`, or perhaps `CPU_WDC/65C02S`?

Thanks in advance!

[2020-06-04 11:13] na-g commented on #2779
This can be handled in #2780.

[2020-06-04 11:13] #2779 closed

[2020-06-11 06:46] poeschlr commented on #2725
NFC is just a subset of RFID (it is a protocol on top of the RFID standard)

[2020-06-11 06:49] poeschlr commented on #2697
It seems there are now two new flags supported in the file format. There is now a "don't include in BOM" and "don't include in board". I assume we will use these for at least logos and similar pure pictographic stuff and possibly also for power symbols. See for example https://forum.kicad.info/t/schematic-symbol-exclude-from-board/23324/

[2020-06-11 10:04] jneiva08 commented on #2725
So is wise to change from to RFID  library?

[2020-06-12 18:07] aris-kimi commented on #2612
Well, i 've answered my own question.. I will upload a small libray i've started named something like IEC_Symbols, in a way i'm imagining, when it will be a little more complete, with generic symbols to be used for electrical designs.
I thought of this something like an extention for KiCAD usage.
Is this something i should proceed with?
That is what i am asking now.. What do you think??
@evanshult

[2020-06-17 17:48] myfreescalewebpage commented on #2612
@aris-kimi we have not a clear opinion, we spoke about that on https://github.com/KiCad/kicad-symbols/pull/1846. This PR is not really good because part are added separately, not in a single lib (the good way to do it). If you want to submit something, do it in a new lib.

[2020-06-21 07:10] #2656 closed

[2020-06-25 21:47] aris-kimi commented on #2612
Hi everyone, I want to learn your opinion about the lib structure in the PR presented.

@myfreescalewebpage ,
 i do have some thoughts about expanding KiCAD's usage field, but this will probably require some work from the dev team,
i present this image as a short description of the idea..
Question: Should i present my idea in the version 6 wishlist issue?
![idea](https://user-images.githubusercont

[2020-07-05 20:34] myfreescalewebpage commented on #2612
I have no opinion but will say : yes you can post to a wishlist issue to the Kicad development team..

[2020-07-10 19:12] bradgrantham opened #2855 "MacOS cmake then "make install" installs library in /usr/local/, should install to "/Library/Application Support/kicad/"?"
I've checked out master (f9eb9ae at this moment).

On my MacOS 10.14.6 with cmake 3.14.4 in the top of my checked out kicad-symbols tree, I've issued the commands:
[code]
And the library files are installed to /usr/local/library.  The existing libraries from my install of KiCad 5 are in "/Library/Application Support/kicad/Library".

Here's a snippet of a trace of "cmake --trace .." showing that "A

[2020-07-11 04:05] gavanfantom opened #2856 "Electrical type of DWM1000 VSS pins should be Power input, not Power output"
The schematic symbol for DWM1000 in RF_Module has all of the VSS pins set to the electrical type Power output. This causes ERC to fail, as these pins all need to be tied together.

The correct setting for all of the VSS pins is Power input.

[2020-08-01 21:19] marekr opened #2892 "ATSAMD21EXX-M EP should be connected to GND"
The SAMD21 G and J do not have their exposed pads connected to anything internally.

However, Atmel put a small foot note hidden in the packaging sheet explicitly for 32 pinners.

![image](https://user-images.githubusercontent.com/1838013/89110662-11704f80-d41b-11ea-9dc7-d5a6b6403575.png)

The E sized symbols currently have the EP pin set as "NC" so its hidden.

[2020-08-04 00:12] AymenLA opened #2895 "fairechildsemi.com links for datasheet are leading to a page that is not a pdf file"
exemple :
http://www.fairchildsemi.com/ds/LM/LM78L05A.pdf
takes you to
https://www.onsemi.com

this behavior is seen in linkes provided in "Regulator_Linear.dcm", I didn't check other symbol files.

[2020-08-04 04:18] chschlue commented on #2895
Yes, ON Semi was too lazy to set up decent redirects after purchasing Fairchild.
Fixes are welcome.

[2020-08-04 09:12] AymenLA commented on #2895
are links pointing to "alldatasheet.com" acceptable as a fix, or should we use only those provided by the manufacturer ?

[2020-08-04 09:29] cp-aquila commented on #2892
@0xdec Do you want to take a look at this?

[2020-08-04 09:35] chschlue commented on #2895
Manufacturer-provided datasheets are preferred (if available).
Next best would be large distributors (like Mouser, for example).

Please use dubious websites only as a last resort. (Alldatasheet is _kind of_ trustworthy, I guess)

[2020-08-04 09:52] cp-aquila commented on #2761
Good find!
That seems like an easy fix. Are you up to provide a patch and open a PR?
I think there is also a type in the description, it says `Digial`

[2020-08-04 15:28] chschlue commented on #2732
FP merged. Are you going to update the symbol, too?

[2020-08-04 16:50] cpresser commented on #2856
Would you be so kind and create a patch for that and open a PR. Then we can merge the fix upstream.

[2020-08-05 16:49] 0xdec commented on #2892
@cp-aquila I think I remember seeing this when I made the symbols. My thinking is that we could go either way. Just because the pad is internally connected to GND does not mean that they actually want us to connect it to GND on the board. This might be a time for contacting a Microchip field applications engineer.

[2020-08-05 16:50] 0xdec commented on #2892
I'll also try to find some reference designs to see what they do

[2020-08-05 17:17] aracosta1 commented on #29
Hello, I can help by adding the Texas TMS320F28xxx series.
Should the multiple functions of every GPIO be indicated or it's better to just call the pin with the only GPIO number ?

Since the devices have a lot of pin should we creata a single component or a multiple unit component to have smaller object in the schematics ?

[2020-08-05 17:31] chschlue commented on #29
Generally, we add two pin functions max.
Whether it's better to split symbols always depends, but if you add `_Split` to those it's easy to add a monolithic version later.

[2020-08-05 17:54] AymenLA commented on #2895
Hi,

I might have a fix for the symbol files.
how do I submit my changes ?
I've created a branch with this issue number but when I do a "git push" I get error 403
"remote: Permission to kicad/kicad-symbols.git denied to AymenLA." ( this is normal .. )

how do I proceed to get the permission to push my branch ?
BR,

Aymen

[2020-08-05 18:01] chschlue commented on #2895
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-08-06 08:59] cp-aquila commented on #2892
There are two different variants of the `32 lead QFN` footprint in the datasheet. One as ` with Sawn Wettable Flanks`.
Only one of them has states

Section 3.0 and 3.1 of the Datasheet have more information on the 'wettable flanks' thing. All `SAMDA1xxx` seem to have them. For the `SAMD21xxx` I am not sure how to read it. Does all the info only apply to the AEC-Q100 parts?

One reference I found j

[2020-08-06 09:05] cp-aquila commented on #2892
See also
https://microchipsupport.force.com/s/article/SAMDA1-QFN32-package-exposed-pad

And the pretty generic answer (it depends):
https://microchipsupport.force.com/s/article/Where-to-connect-the-exposed-pad-of-a-QFN-package

[2020-08-07 07:49] AymenLA commented on #2895
Hi,

here is the pull request :  [https://github.com/KiCad/kicad-symbols/pull/2902]

BR,
Aymen

[2020-08-07 08:44] AymenLA commented on #2895
Hi,

I've made a mistake regarding my last pull request : some changes where made and committed with my generic username and I didn't pay attention to that, this caused a problem for signing the CLI with that username, I've closed the pull request and I've made a new one.

issue-2895 correcting fairchildsemi.com dead links #2903

BR,
Aymen

[2020-08-07 19:34] dlcflv commented on #2761
I am really a beginner in Kicad and do not know at all the procedures for opening a pull request. Although I know what changes to make to the two files Analog_ADC.lib and Analog_ADC.dcm, I don't know how to do it. Personally I got around by creating my own library (as well as when I have to create a new component)

[2020-08-07 21:03] aris-kimi commented on #2761
Hi @dlcflv , you can take a look here: https://kicad-pcb.org/libraries/contribute/ for the basic procedure. And of course ask for something when you are not sure. I think you can get this through. It is simpler than it might seems. First steps are a bit tricky though..

[2020-08-08 16:28] AymenLA commented on #2895
Hi,
just committed the change request,
BR,
Aymen

[2020-08-08 20:29] #2895 closed

[2020-08-13 10:10] jonolt opened #2911 "advice on the creation of DOGM LCD displays"
I am currently working on footprints and symbols of the Electronic Assembly [LCD (DOG-Series)](https://www.lcd-module.com/produkte/dog.html) and [OLED diplays](https://www.lcd-module.com/produkte/olednew-technology.html) (with pins) and plan to merge them with the official library. So I want to coordinate early on before all variants are created. I have read the guidelines and hope you can help me

[2020-08-13 18:21] gavanfantom commented on #2856
This pull request sorts out the VSS pins and the I/O pins for the DWM1000. I had a go at giving the DWM1001 a similar treatment, but it seems to require more than a quick go over with a text editor, so I reverted most of my changes to that one. It should still be a (small) incremental improvement.

[2020-08-19 14:08] davidsrsb opened #2919 "Make "R", "C" etc optionally link to "_small" symbols"
I know that I am not the only one who uses symbols R_Small, C_Small etc most of the time
When the symbol libraries get reorganized, why not make all the single letter default V5 symbols R, C, D etc R_Large and so on and then make the single letter shortcuts symbolic links to Small or Large as a user preference set in the library browser.
This would save a lot of key presses in drawing a schematic.

[2020-08-19 14:16] chschlue commented on #2919
I admit to being a _Small user, too, and I like the idea.

That being said, I have no idea how this would be a library issue, except for possibly renaming R, L, C to *_Large.

[2020-08-19 18:59] stambaughw commented on #2919
I think we have to move them to a separate library because changing `R` and `C` symbols in the `Device` library will cause legacy (<=5.1.x) schematics to remap every `C` and `R` symbol which can be risky.  Far too many users delete the library cache file.

[2020-08-23 20:40] cpresser opened #2925 "IRF9394M Is not a single FET"
See https://github.com/KiCad/kicad-symbols/pull/2894/commits/0812914afdab1de4eed8ee9b3184cc8e9cedbf1d#r473129452

The symbol is only a single FET, but there are two FETs in that device
![image](https://user-images.githubusercontent.com/17516572/90988187-5a867000-e591-11ea-82f2-8637f13c3140.png)

The footprint will also not match (Pin numbers need to be split):
![image](https://user-images.githubus

[2020-08-23 21:05] chschlue commented on #2925
Looks like IRF939[45] were the only parts ever available in this package (both EOL).
So we can just alter this FP instead of adding a dual variant.

[2020-08-24 10:24] mattkefford opened #2926 "Advice on symbol library management for contributing"
Hello all! I would like to add a component for a 1-input level shifter, it seems it would be easier to just add to my own library but nicer to add to the KiCad library. My github knowledge is a bit rusty though.

I have read the [guidelines](https://kicad-pcb.org/libraries/contribute/) and it mentions to fork and clone the repo. When KiCad is installed doesn't it already clone to repo to '/Library

[2020-08-24 11:00] chschlue commented on #2926
I am not very familiar with macOS, but I would generally advise against overwriting the libs installed system-wide.
Better clone the repos somewhere in your home dir and change environment variables (Preferences->Configure Paths) to point there.

[2020-08-24 11:08] mattkefford commented on #2926
OK thank you, I thought that might be the safer approach but it is less clean and causes duplication.

This page answers quite a few of my questions! https://forum.kicad.info/t/library-management-in-kicad-version-5/14636

[2020-08-24 11:08] #2926 closed

[2020-08-24 17:19] cpresser commented on #2705
My ToDo-List is focused around symbols
* [ ] Rework `Memory_Flash` commonalize them so we only have one style for all the 8-pin serial flash devices.
* [ ] `MCU_Microchip_PICxx` are quite messy. See https://github.com/KiCad/kicad-symbols/issues/2098 But this is a huge project. Not sure I find the time and motivation for that.

Footprints (not v6 specific)
* [ ] Commonalize styles of some connector

[2020-08-24 22:52] evanshultz commented on #2249
Also applies to `TPD4E02B04DQA` (https://www.ti.com/lit/ds/symlink/tpd4e02b04.pdf).

[2020-08-27 12:56] PatrickMULOT opened #2940 "Error when openiing eechema"
When executing kicad and trying to open eschema, i have the following message:
"libwebkitgtk-3.0.so.0 ne peut ouvrir le fichier d'objet partagé- aucun fichier ou dossier de ce type." translated by google :
"cannot open shared object file - no such file or folder."

I am under Ubuntu 20.04.1 LTS 64bits and Kicad 5.1.6
my pc : Asus k73SV Intel Core I7-2630QM CPU @ 2.00GHz x 8 - 1Tb SSD + 500Gb HDD

[2020-08-27 13:45] evanshultz commented on #2940
This repo is only for the official KiCad library, not the functionality of KiCad itself. I will close this issue.

You should post these kinds of questions at https://forum.kicad.info/ if you want to share you experience with other users and get their opinion and/or feedback. Wishlist items and bug reports for KiCad should be directed to https://bugs.launchpad.net/kicad.

[2020-08-27 13:45] #2940 closed

[2020-08-28 13:35] poeschlr commented on #2919
@stambaughw I am not sure we can protect users who delete the cache lib if we want the lib to be able to evolve. We were ok with limiting our development during a minor release but am not so sure it would be a good idea if we even limit ourselves over a major release border. (However it is no longer my call to make so you will need to discuss this with @chschlue in the end)

How about adding good

[2020-08-28 13:39] poeschlr commented on #2705
It seems micro controller symbols can be massively improved with the new support for pin alternative function capture https://forum.kicad.info/t/post-v5-new-features-and-development-news/15693/252

[2020-08-28 13:53] poeschlr commented on #2919
@davidsrsb While I am not against changes to the device lib I still am not sure if the current feature set would allow for fulfilling your request. I at least am not aware about a feature we could use to facilitate this linkage. The best i can think of is leaving the single letter versions unused in the official lib and allowing users to have them defined in their personal libs.

To be honest a be

[2020-08-28 14:20] chschlue commented on #2919
Of course!
In fact I'm pondering allowing even the rabble to voice their opinion.
Perhaps I'll be proclaiming the KiCad glasnost epoch some time this weekend ;)

But back on topic: I recall a GitLab issue concerning transforming the De Morgan alternatives into full-fledged alternative symbol styles. Searching for it, GL keeps throwing server errors ATM so I don't know whether this entails much mor

[2020-08-28 14:30] chschlue commented on #2919
Apart from that, I agree with @poeschlr that mollycoddling users that can't keep their hands off the cache lib can't be our main concern (it's quite well documented I think.) At least not during a major release.

[2020-08-28 20:00] stambaughw commented on #2919
@poeschlr I wasn't suggesting that we not make changes to the Device library but users tend to forget or are not aware of the ramifications of doing so.

[2020-08-31 15:40] chschlue commented on #2345
Obsolete, closing.

[2020-08-31 15:40] #2345 closed

[2020-09-01 15:34] cederom opened #2965 "GITHUB LOCKDOWN AND TRANSFER TO GITLAB"
Hello world :-)

I can see there is a lockdown of the repo because of v6 preparations.. and the repository will be transferred to GITLAB.

Where should I put my current work? On GitLab??

The new GitLab repository does not seem to be there yet: https://gitlab.com/kicad/libraries/kicad-symbols/ returns 404..

Best regards :-)
Tomek

[2020-09-01 16:15] evanshultz commented on #2965
Hello.

PRs now get a message around this, for example your PR at https://github.com/KiCad/kicad-symbols/pull/2964. I assume that's what you're referring to.

For posterity and anyone else who seems this, here is the text:
![image](https://user-images.githubusercontent.com/1936989/91875746-c4a5b180-ec30-11ea-943c-2b970df619ab.png)

There is still work to be done on the librarian side for the GitLa

[2020-09-01 17:39] cederom commented on #2965
Allright then, waiting until 20201001 KiCAD repositories are moved from GitHub to GitLab. Good choice :-)

[2020-09-03 21:20] #2856 closed

[2020-09-05 17:36] g200kg opened #2971 "LM358, LM2902 unconnected pin mark indicating wrong connection"
I'm not sure if it's a library problem,
Amplifire_Operational  LM358 Unit B,  LM2902 Unit B,C,D shows unconnected pin mark indicating different from the actual connection.

![20200906_kicad](https://user-images.githubusercontent.com/3472954/92310303-02ffef80-efe8-11ea-8d6f-40485793492b.png)

[2020-09-05 18:56] chschlue commented on #2971
![pin_mark](https://user-images.githubusercontent.com/40901018/92311699-cd441200-efb9-11ea-8f6c-4ae77906c33e.png)

Can't reproduce the issue.
Please add more information (like KiCad version, exact steps leading to your issue.)

(I doubt it's a library problem, there is no difference between the pins that behave differently for you.)

[2020-09-05 19:33] g200kg commented on #2971
Thank you for the reply.

KiCad 5.1.6 on ubuntu 20.04.1 and KiCad 5.1.5 on win10
Both have the same result.

I found the procedure of reproduction.

1. Place LM358 "Unit A" from Amplifier_Operational.
2. Change the placed "Unit A" to "Unit B" by selecting [Properties]-[Unit] from the right-click menu.
3. connect pin6 and pin 7.

This issue does not occur if "Unit B" is selected during initial depl

[2020-09-05 19:37] chschlue commented on #2971
Almost certainly.
Please open an issue on https://gitlab.com/kicad/code/kicad/-/issues

Closing for now.

[2020-09-05 19:37] #2971 closed

[2020-09-05 19:38] g200kg commented on #2971
Thank you :-)

[2020-09-10 19:25] #2965 closed

[2020-09-11 21:20] #2563 closed

[2020-09-12 13:42] #1840 closed

[2020-09-16 15:17] #861 closed

[2020-09-17 05:19] #2520 closed

[2020-09-17 21:42] cpresser commented on #743
I am currently looking at all things tagged v6 and this came up.
At least part of it seems solved: I cant find jumpers in `Device.lib`.

I would rework the pin positions. At least the symbols in `Jumper.lib` should be interchangeable. Currently they are not:
![image](https://user-images.githubusercontent.com/17516572/93531346-5d317680-f93f-11ea-8a09-8a8a3febb017.png)

[2020-09-18 06:25] #2622 closed

[2020-09-19 05:33] evanshultz commented on #2705
@chschlue
Do you (or the devs) have a wishlist for v6? Several of us have put down what we want to work on, and while I get that we're all volunteers and you gotta take what you get, maybe some direction would be nice. Then perhaps we could divide up that high-level wishlist and then add on our own personal desires.

If there are things which greatly improve the library for users that seems like a

[2020-09-19 08:19] chschlue commented on #2705
I meant to open a bunch of (more or less) self-contained issues together with basic triage labels that librarians can assign themselves to so we can see what has to be done and what's covered but haven't gotten around to it yet.

[2020-09-19 08:27] chschlue commented on #2705
(Symbols embedded in v6 schematics give us a lot more leeway regarding breaking changes so most leftovers shouldn't have to wait for v7 but we should be done with big disruptions like splitting/merging/removing/reworking entire libs by 6.0 release nonetheless (as far as possible)).

[2020-09-19 12:59] chschlue opened #2984 "[v6] CI"

[2020-09-19 13:01] chschlue opened #2985 "[v6] 4000 logic"

[2020-09-19 13:01] chschlue opened #2986 "[v6] 7400 logic"

[2020-09-19 13:02] chschlue opened #2987 "[v6] Amplifier_Audio"

[2020-09-19 13:03] chschlue opened #2988 "[v6] Amplifier_Buffer"

[2020-09-19 13:04] chschlue opened #2989 "[v6] Amplifier_Current"

[2020-09-19 13:05] chschlue opened #2990 "[v6] Amplifier_Difference"

[2020-09-19 13:06] chschlue opened #2991 "[v6] Amplifier_Instrumentation"

[2020-09-19 13:07] chschlue opened #2992 "[v6] Amplifier_Operational"

[2020-09-19 13:08] chschlue opened #2993 "[v6] Amplifier_Video"

[2020-09-19 13:09] chschlue opened #2994 "[v6] Analog"

[2020-09-19 13:09] chschlue opened #2995 "[v6] Analog_ADC"

[2020-09-19 13:10] chschlue opened #2996 "[v6] Analog_DAC"

[2020-09-19 13:11] chschlue opened #2997 "[v6] Analog_Switch"

[2020-09-19 13:14] chschlue opened #2998 "[v6] Audio"

[2020-09-19 13:17] chschlue opened #2999 "[v6] Battery_Management"

[2020-09-19 13:18] chschlue opened #3000 "[v6] Buffer"

[2020-09-19 13:22] chschlue opened #3001 "[v6] Comparator"

[2020-09-19 13:23] chschlue opened #3002 "[v6] Connector"

[2020-09-19 13:24] chschlue opened #3003 "[v6] Connector_Generic"

[2020-09-19 13:24] chschlue opened #3004 "[v6] Connector_Generic_MountingPin"

[2020-09-19 13:25] chschlue opened #3005 "[v6] Connector_Generic_Shielded"

[2020-09-19 13:26] chschlue opened #3006 "[v6] Converter_ACDC"

[2020-09-19 13:26] chschlue opened #3007 "[v6] Converter_DCDC"

[2020-09-19 13:27] chschlue opened #3008 "[v6] CPLD_Altera"

[2020-09-19 13:28] chschlue opened #3009 "[v6] CPLD_Microchip"

[2020-09-19 13:28] chschlue opened #3010 "[v6] CPLD_Xilinx"

[2020-09-19 13:54] chschlue opened #3011 "[v6] CPU"

[2020-09-19 13:54] chschlue opened #3012 "[V6] CPU_NXP_6800"

[2020-09-19 13:55] chschlue opened #3013 "[v6] CPU_NXP_68000"

[2020-09-19 13:56] chschlue opened #3014 "[v6] CPU_NXP_IMX"

[2020-09-19 13:56] chschlue opened #3015 "[v6] CPU_PowerPC"

[2020-09-19 13:59] chschlue opened #3016 "[v6] Device"
- [ ] split off LEDs, Transistors etc
- [ ] move symbols (like CircuitBreaker*) to Symbol_IEC

[2020-09-19 14:00] chschlue opened #3017 "[v6] Diode"

[2020-09-19 14:00] chschlue opened #3018 "[v6] Diode_Bridge"

[2020-09-19 14:01] chschlue opened #3019 "[v6] Diode_Laser"

[2020-09-19 14:02] chschlue opened #3020 "[v6] Display_Character"

[2020-09-19 14:02] chschlue opened #3021 "[v6] Display_Graphic"

[2020-09-19 14:03] chschlue opened #3022 "[v6] Display_Character"

[2020-09-19 14:03] chschlue opened #3023 "[v6] Driver_Display"

[2020-09-19 14:05] chschlue opened #3024 "[v6] Driver_FET"

[2020-09-19 14:06] chschlue opened #3025 "[v6] Driver_Haptic"

[2020-09-19 14:06] chschlue opened #3026 "[v6] Driver_LED"

[2020-09-19 14:07] chschlue opened #3027 "[v6] Driver_Motor"

[2020-09-19 14:07] chschlue opened #3028 "[v6] Driver_Relay"

[2020-09-19 14:07] chschlue opened #3029 "[v6] Driver_TEC"

[2020-09-19 14:15] chschlue opened #3030 "[v6] DSP_AnalogDevices"
- [ ] rename to DSP_Analog (we usually keep manufacturer names short (like Texas, ON, ...))

[2020-09-19 14:17] chschlue opened #3031 "[v6] DSP_Freescale"
- [ ] rename to DSP_NXP

[2020-09-19 14:18] chschlue opened #3032 "[v6] DSP_Microchip_DSPIC33"

[2020-09-19 14:19] chschlue opened #3033 "[v6] DSP_Motorola"
- [ ] rename to DSP_NXP

[2020-09-19 15:25] chschlue opened #3034 "[v6] DSP_Texas"

[2020-09-19 15:29] chschlue opened #3035 "[v6] Fiber_Optic"
- [ ] rename. According to our usual nomenclature, this is the `Optic` sub-category of the `Fiber` lib. (As opposed to `Fiber_Dietary`, presumably)

[2020-09-19 15:30] chschlue opened #3036 "[v6] Filter"

[2020-09-19 15:30] chschlue opened #3037 "[v6] FPGA_Lattice"

[2020-09-19 15:31] chschlue opened #3038 "[v6] FPGA_Microsemi"

[2020-09-19 15:31] chschlue opened #3039 "[v6] FPGA_Xilinx_*"

[2020-09-19 15:32] chschlue opened #3040 "[v6] GPU"

[2020-09-19 15:34] chschlue opened #3041 "[v6] Graphic"
- [ ] rename to Symbol_Graphic

[2020-09-19 15:34] chschlue opened #3042 "[v6] Interface"

[2020-09-19 15:35] chschlue opened #3043 "[v6] Interface_CAN_LIN"

[2020-09-19 15:36] chschlue opened #3044 "[v6] Interface_CurrentLoop"

[2020-09-19 15:36] chschlue opened #3045 "[v6] Interface_Ethernet"

[2020-09-19 16:23] chschlue opened #3046 "[v6] Interface_Expansion"

[2020-09-19 16:24] chschlue opened #3047 "[v6] Interface_HDMI"

[2020-09-19 16:25] chschlue opened #3048 "[v6] Interface_HID"

[2020-09-19 16:28] chschlue opened #3049 "[v6] Interface_LineDriver"
- [ ] check overlap with other Interface libs

[2020-09-19 16:29] chschlue opened #3050 "[v6] Interface_Optical"

[2020-09-19 16:30] chschlue opened #3051 "[v6] Interface_Telecom"

[2020-09-19 16:31] chschlue opened #3052 "[v6] Interface_UART"

[2020-09-19 16:31] chschlue opened #3053 "[v6] Interface_USB"

[2020-09-19 16:38] chschlue opened #3054 "[v6] Isolator*"
- [ ] consider splitting differently (perhaps into optocouplers, induction-based digital isolators and isolated analog amplifiers)

[2020-09-19 16:39] chschlue opened #3055 "[v6] Jumper"

[2020-09-19 17:08] chschlue opened #3056 "[v6] LED"

[2020-09-19 17:12] chschlue opened #3057 "[v6] Logic_LevelTranslator"
- [ ] weed out 7400 symbols

[2020-09-19 17:13] chschlue opened #3058 "[v6] Logic_Programmable"
- [ ] adjust name to be more in line with CPLDs, FPGAs and such

[2020-09-19 17:15] chschlue opened #3059 "[v6] MCU_*"
- [ ] add alternate pin types

[2020-09-19 17:17] chschlue opened #3060 "[v6] Mechanical"
- [ ] fix fabrication attributes

[2020-09-19 17:18] chschlue opened #3061 "[v6] Memory_*"

[2020-09-19 17:20] chschlue opened #3062 "[v6] Motor"
- [ ] fix fabrication attributes
- [ ] check overlap with Symbol_IEC

[2020-09-19 17:22] chschlue opened #3063 "[v6] Oscillator"

[2020-09-19 17:23] chschlue opened #3064 "[v6] Potentiometer_Digital"

[2020-09-19 17:24] chschlue opened #3065 "[v6] power"
- [ ] check v6 changes

[2020-09-19 17:25] chschlue opened #3066 "[v6] Power_*"

[2020-09-19 17:32] chschlue opened #3067 "[v6] pspice"
- [ ] remove?

[2020-09-19 17:33] chschlue opened #3068 "[v6] Reference_*"

[2020-09-19 17:34] chschlue opened #3069 "[v6] Regulator_*"

[2020-09-19 17:34] chschlue opened #3070 "[v6] Relay*"
- [ ] fix symbol naming

[2020-09-19 17:35] chschlue opened #3071 "[v6] RF*"

[2020-09-19 17:36] chschlue opened #3072 "[v6] RF*"

[2020-09-19 17:37] chschlue opened #3073 "[v6] Security"

[2020-09-19 17:38] chschlue opened #3074 "[v6] Sensor*"

[2020-09-19 17:39] chschlue opened #3075 "[v6] Simulation_SPICE"

[2020-09-19 17:39] chschlue opened #3076 "[v6] Switch"

[2020-09-19 17:39] chschlue opened #3077 "[v6] Timer*"

[2020-09-19 17:41] chschlue opened #3078 "[v6] Transformer"

[2020-09-19 17:42] chschlue opened #3079 "[v6] Transistor*"

[2020-09-19 17:42] chschlue opened #3080 "[v6] Triac_Thyristor"

[2020-09-19 17:43] chschlue opened #3081 "[v6] Valve"

[2020-09-19 17:43] chschlue opened #3082 "[v6] Video"

[2020-09-19 17:52] chschlue commented on #2705
@KiCad/librarians I have opened issues #2984 thru #3082 for every lib and also partially started assigning librarians I believe have volunteered at some point and/or are most familiar with the matter.
Please don't feel offended by any errors or misjudgments. Feel free to assign/unassign/reassign yourselves as you see fit.

Note that assignees are not expected to do all the work on their own but it

[2020-09-19 18:10] chschlue commented on #2705
I _think_ I added all symbol wishes that came up here to the appropriate issues (which may be converted to GL epics later.)

Please do the same with any new ones. Closing.

[2020-09-19 18:10] #2705 closed

[2020-09-19 18:33] cpresser commented on #2984
I already started on this one.
My WIP stuff is here:
* https://gitlab.com/cpresser/kicad-footprints
* https://gitlab.com/cpresser/kicad-library-utils

To test it, I also made 3 merge requests:
https://gitlab.com/cpresser/kicad-footprints/-/merge_requests
* One with errors
* One without errors
* One that does not change a footprint

So far that looks good.

[2020-09-19 21:03] Werni2A commented on #3082
@chschlue is there some information what needs to be done in all those issues or how to contribute to them? I would like to help in some way but I'm not sure how.

This is not specifically about this issue but in general about the v6 issues.

[2020-09-19 21:28] chschlue commented on #3082
Thanks!
Some of the [v6] issues already have tasks attached to them (you can tell by the `x of y done` in the issue list), others are currently placeholders because it's not clear whether anything (apart from format conversion) has to be done at all.
Feel free to add requests, BTW.

[2020-09-19 22:34] cpresser commented on #3061
Is there a use-case where people actually connect a SPI flash in daisy-chain configuration?
I am not aware of one, so I think it is a good idea to put all ports on the same side.
**Perhaps like so**
![image](https://user-images.githubusercontent.com/17516572/93690443-baacfb00-fad8-11ea-885b-41257dcb0767.png)

----

Here are some of the current AT25 style flashes. All look different:
![image](https

[2020-09-20 06:40] chschlue commented on #3061
Your example looks good to me.
Daisy chaining in conjunction with large reads doesn't make sense to me.

[2020-09-20 09:09] myfreescalewebpage commented on #3081
Linked pull requests:
- https://github.com/KiCad/kicad-symbols/pull/1649 (I'm the author)
- https://github.com/KiCad/kicad-symbols/pull/2797 (I can review it after integration of the previous one, and I will take care ofthe consistency)

[2020-09-20 09:12] myfreescalewebpage commented on #3059
@KiCad/librarians not sure, but I think alternate pin type definition need first to go on v6, isn't it ?

[2020-09-20 09:15] chschlue commented on #3059
Yes.

[2020-09-20 09:18] myfreescalewebpage commented on #3059
Probably the best way to handle MCU is to script them. I mean, if it is possible, one script for all manufacturers. Will be easier to ensure the largest consistency across the lib.

Will try to think about that

[2020-09-20 09:40] chschlue commented on #3059
We have the [STM32 generator](https://github.com/KiCad/kicad-library-utils/tree/master/schlib/autogen/stm32)
Perhaps that can serve as a starting point.

[2020-09-20 10:08] cpresser commented on #3059
One feature I would love is drop-in compatible symbols for parts of the same series. An example for that is here: https://github.com/KiCad/kicad-symbols/pull/2336

[2020-09-20 10:39] myfreescalewebpage commented on #3059
@chschlue yes I know the STM32 generator, but it is based on the usage of (xml?) file from STM workbench (as far as I know). Which is not useful for the other manufacturers

[2020-09-20 11:06] cpresser commented on #3059
I am pretty sure we need to devise our own format.
* The STM `.xml` files need to be converted to it.
* Microchip provide `bxl` files that might have some information. https://github.com/KiCad/kicad-symbols/issues/2098
* For quite a lot of manufacturers we might need to manually write those files.
* Perhaps we can add a workflow for `*.BDSL` files
* At least some information needs to be  added man

[2020-09-20 13:55] Hubert97 opened #3083 "TXB0108DQSR Level Translator Sybol Error"
In KiCad library VCCB is set to be 19 PIN. In TXB0108DQSR  Datasheet it is 16th pin.

[2020-09-20 13:58] #3083 closed

[2020-09-20 14:47] chschlue commented on #2623
@saviocmc Will you be able to wrap this up by Tuesday?

[2020-09-20 15:02] saviocmc commented on #2623
Sorry about the delay. I'm going to get this done by tomorrow.

[2020-09-20 17:31] myfreescalewebpage commented on #3059
@cpresser I think this first proposition is clearly not bad.
STM32 file should then be converted to the yaml format and we are ok.
Joel

[2020-09-20 19:25] Werni2A commented on #3059
This sounds like an interesting topic. If there is something that I could help you with please let me know. I'm happy to give you a hand.

[2020-09-20 20:30] cpresser commented on #3059
@Werni2A Feel free to start with an implementation. The `ATSAMD21` parts in the current lib are a good reference. They are well made and have all the features a generator should take care of.
I personally won't have time to start working on this in the next weeks/months since my focus is on footprints and CI.

@chschlue BTW, what is the idea of the `v6-dead` label?

[2020-09-20 20:33] chschlue commented on #3059
It's supposed to mean "probably not feasible".
I didn't expect so many people to leap at it. Feel free to change it.

[2020-09-21 09:54] herostrat commented on #3059
There is a PR for Symbol Generation of Xilinx FPGAs:
https://github.com/KiCad/kicad-symbols/pull/1799

Imho this also is very promising and could be used as a reference?

[2020-09-21 16:58] Werni2A commented on #3059
Great, I will take a look at both scripts and start a first generator implementation that can be discussed. Is there some deadline I need to keep in mind?

[2020-09-21 17:15] chschlue commented on #3059
6.0-rc1 is planned for Dec 31 and while it would be great to have a (more or less) universal generator in place before then, well, we're all volunteers around here and things are done when they're done, so don't stress yourself.
Another "deadline" is v6 file format freeze on Sep 30, meaning symbol files could theoretically still change until then.

[2020-09-21 19:54] myfreescalewebpage commented on #3059
Yes no specific deadline, if this is later it's not so important. The current libraries will be migrated to v6 format so we don't lose anything.

[2020-09-23 07:16] #2623 closed

[2020-09-23 16:15] #2343 closed

[2020-09-23 17:01] #2925 closed

[2020-09-23 17:06] cpresser commented on #2132
@evanshultz Can we close this Bug ticket?

[2020-09-23 17:38] #2732 closed

[2020-09-24 19:35] myfreescalewebpage commented on #30
#12 has been merged, closing

[2020-09-24 19:35] #30 closed

[2020-09-25 14:08] rjmaris opened #3093 "Minor fix with Comparator.lib"
fix is ready - because of repository lock just put here as a reminder...

[0001-fix-underline-character-on-input-of-LM2903.patch.txt](https://github.com/KiCad/kicad-symbols/files/5283280/0001-fix-underline-character-on-input-of-LM2903.patch.txt)

[2020-09-25 15:58] chschlue commented on #3093
Confirmed. Thanks.

[2020-09-27 10:05] cpresser commented on #2984
I have started looking into symbols. Yesterday was the first time I ran kicad6.

The documentation (https://docs.google.com/document/d/1AiPZvWT_QBPyVQSyn3ISl6jVntjrrtATEYxzBFJM1HU/edit) has a disclaimer about being outdated, and yes, that seems to be true. For example I can't find the word `extends` in the docu. But fortunately the format seems to be mostly self explanatory.

I think I can start f

[2020-09-30 11:26] cp-aquila commented on #3042
- [ ] Check for things that are buffer like and not an interface. Move them to Buffer.lib

[2020-09-30 14:14] cp-aquila commented on #3044
- [ ] Move `DAC8750xRHA` from DAC to _CurrentLoop

[2020-09-30 19:03] #2768 closed

[2020-09-30 20:20] Werni2A commented on #3059
I tried to parse the Yaml file with the yaml package and directly process the values but I think this makes the script kind of unreadable and error prone. Do only I feel like this about "nested" dictionaries? My current idea is to write a class where all values from the Yaml file are written into. With this approach I can add some easy error handling and presetting values that are not specified in

[2020-09-30 20:24] myfreescalewebpage commented on #3059
@Werni2A I'm not a python/yaml expert, but your comment let me thinking to the SOIC/QFN/etc/etc packages which are script generated. They have optional configuration keys and they handle various configuration possibilities so I suggest this is a good start to understand how they are working in details. This may help for this subject.

[2020-10-01 16:06] rjmaris opened #3099 "just a patchfile with new symbol"
[0001-add-MSP430FR247x.patch.txt](https://github.com/KiCad/kicad-symbols/files/5313394/0001-add-MSP430FR247x.patch.txt)

[2020-10-01 16:18] aris-kimi commented on #3099
I am sorry but i am not sure i understood correctly this issue.
Do you want to upload a new symbol?

[2020-10-01 17:03] myfreescalewebpage commented on #2965
@rjmaris will be done by the end of the day

[2020-10-01 20:28] rjmaris commented on #3099
Well, for a single instance... Yet, the V6 library repo has been launched.

[2020-10-01 20:28] #3099 closed